openapi: 3.0.3
info:
  title: OwlPay Harbor API
  description: OwlPay Harbor API Documentation
  version: 1.0.0
servers:
  - url: https://harbor-sandbox.owlpay.com
tags:
  - name: (Deprecated) Transfer (v1)
    description: >-
      APIs for managing transfers. **Deprecated:** This API will be removed
      after 2026-04-01. Please migrate to Transfer (v2).
  - name: Application
    description: APIs for retrieving application information.
  - name: Application Recipients
    description: >-
      APIs for managing application-level recipients (shared recipient book for
      transfer destinations).
  - name: Bank Connection
    description: APIs for connecting and managing bank accounts.
  - name: Countries
    description: Reference data for countries and their subdivisions.
  - name: Customer's Cards
    description: APIs for managing customer's linked cards.
  - name: Customer Deposit Accounts
    description: >-
      APIs for managing customer deposit accounts — virtual bank accounts that
      auto-convert incoming fiat deposits into crypto sent to a configured
      destination. Requires the application to have the customer deposit account
      feature enabled.
  - name: Customer Management
    description: APIs for managing customers.
  - name: Customer Onboarding
    description: >-
      Submit full KYB data for a business customer in one call; Harbor
      orchestrates verification asynchronously.
  - name: Endpoints
    description: ''
  - name: Faucet
    description: >-
      APIs for claiming testnet USDC or USDT to a specified blockchain address.
      Only available in non-production environments. `POST /faucet` is the
      current endpoint — it supports choosing the currency (新版支援自選幣別 USDC/USDT);
      `POST /faucet/usdc` is the earlier Circle Sandbox endpoint, USDC only,
      kept for existing callers.
  - name: Individual Graded KYC (v2)
    description: >-
      Graded verification for individual customers: submit KYC data for a level,
      correct and resend, read the standing, and apply for a higher level. Every
      endpoint answers one shape -- the customer's verification standing.
  - name: RFI (Request for Information) (v1)
    description: >-
      Read an open RFI and submit its answers, for both general AML RFIs
      (customer-scoped) and CPN off-ramp RFIs (transfer-scoped). Both surfaces
      answer the same unified schema. The transfer-scoped pair
      (`showForTransfer` / `answerForTransfer`) is also registered on the V2
      transfer surface — see the (v2) group, which is this same class with no
      logic override, only a doc-only subclass for a distinct group.
  - name: RFI (Request for Information) (v2)
    description: >-
      Read an open RFI and submit its answers for a CPN off-ramp RFI
      (transfer-scoped), on the V2 transfer surface. Identical behavior to the
      V1 RFI group's transfer-scoped endpoints — this class adds no logic of its
      own, only a distinct doc group.
  - name: Reconciliation
    description: APIs for reconciliation.
  - name: Transfer (v2)
    description: APIs for managing transfers.
  - name: Wallet
    description: APIs for managing application wallets (blockchain addresses).
  - name: Webhook subscriptions
    description: APIs for managing webhook subscriptions.
components:
  securitySchemes:
    default:
      type: apiKey
      name: X-API-KEY
      in: header
      description: >-
        Please contact your customer service team to obtain your <b> API Key
        </b>.
security:
  - default: []
paths:
  /api/v1/transfers:
    get:
      summary: List all transfers
      operationId: listAllTransfers
      description: ''
      parameters:
        - in: header
          name: X-API-KEY
          description: ''
          example: '{YOUR_API_KEY}'
          schema:
            type: string
      responses:
        '201':
          description: List of Transfers
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    - uuid: transfer_lsPz72x5aCKcuNCPToP4wRvwdpekeJ5NaeXyUQm9
                      object: transfer
                      status: pending_customer_transfer_start
                      sub_status: null
                      type: on-ramp
                      settlement_strategy: immediate
                      source_received: false
                      on_behalf_of: cus_6qufKYxr99lpe0dfgGZv79uXNNaQyZN7adVviM7E
                      source:
                        asset: USD
                        amount: 10
                      destination:
                        asset: USDC
                        chain: stellar
                        address: >-
                          GA7ZO7WNKTUFPAAR2YM6FJGK7WNTY5JBFOZHHKBQYT6GUHO3HGXOTDMH
                        address_memo: null
                        beneficiary_name: John Doe
                        amount: 5
                        transfer_purpose: null
                        is_self_transfer: false
                      application_transfer_uuid: 65427d5e-99e2-3c5d-b196-d519d4f08a52
                      transfer_instructions:
                        account_number: '123456789012'
                        routing_number: '987654321'
                        bank_name: FV Bank
                        bank_address: 1234 Maple Lane, Springfield, IL 62704, USA
                        account_holder_name: OwlTing USA
                        narrative: '7566261555'
                      commission:
                        percentage: '0.01'
                        amount: 1
                      receipt:
                        initial_asset: USD
                        initial_amount: '10.00000000'
                        commission_fee: '1.10'
                        harbor_fee: '0.10'
                        final_asset: USDC
                        final_amount: '5.00000000'
                        exchange_rate: '1'
                        transaction_hash: null
                        tracking_number_status: null
                      meta_data: null
                      created_at: '2025-05-15T13:32:23+00:00'
                      updated_at: '2025-05-15T13:32:23+00:00'
                  links:
                    first: >-
                      http://harbor.owlpay.worker:8080/api/v1/internal/transfers?page=1
                    last: >-
                      http://harbor.owlpay.worker:8080/api/v1/internal/transfers?page=1
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      - url: null
                        label: '&laquo; Previous'
                        active: false
                      - url: >-
                          http://harbor.owlpay.worker:8080/api/v1/internal/transfers?page=1
                        label: '1'
                        active: true
                      - url: null
                        label: Next &raquo;
                        active: false
                    path: http://harbor.owlpay.worker:8080/api/v1/internal/transfers
                    per_page: 15
                    to: 1
                    total: 1
                properties:
                  data:
                    type: array
                    example:
                      - uuid: transfer_lsPz72x5aCKcuNCPToP4wRvwdpekeJ5NaeXyUQm9
                        object: transfer
                        status: pending_customer_transfer_start
                        sub_status: null
                        type: on-ramp
                        settlement_strategy: immediate
                        source_received: false
                        on_behalf_of: cus_6qufKYxr99lpe0dfgGZv79uXNNaQyZN7adVviM7E
                        source:
                          asset: USD
                          amount: 10
                        destination:
                          asset: USDC
                          chain: stellar
                          address: >-
                            GA7ZO7WNKTUFPAAR2YM6FJGK7WNTY5JBFOZHHKBQYT6GUHO3HGXOTDMH
                          address_memo: null
                          beneficiary_name: John Doe
                          amount: 5
                          transfer_purpose: null
                          is_self_transfer: false
                        application_transfer_uuid: 65427d5e-99e2-3c5d-b196-d519d4f08a52
                        transfer_instructions:
                          account_number: '123456789012'
                          routing_number: '987654321'
                          bank_name: FV Bank
                          bank_address: 1234 Maple Lane, Springfield, IL 62704, USA
                          account_holder_name: OwlTing USA
                          narrative: '7566261555'
                        commission:
                          percentage: '0.01'
                          amount: 1
                        receipt:
                          initial_asset: USD
                          initial_amount: '10.00000000'
                          commission_fee: '1.10'
                          harbor_fee: '0.10'
                          final_asset: USDC
                          final_amount: '5.00000000'
                          exchange_rate: '1'
                          transaction_hash: null
                          tracking_number_status: null
                        meta_data: null
                        created_at: '2025-05-15T13:32:23+00:00'
                        updated_at: '2025-05-15T13:32:23+00:00'
                    items:
                      type: object
                      properties:
                        uuid:
                          type: string
                          example: transfer_lsPz72x5aCKcuNCPToP4wRvwdpekeJ5NaeXyUQm9
                        object:
                          type: string
                          example: transfer
                        status:
                          type: string
                          example: pending_customer_transfer_start
                        sub_status:
                          type: string
                          example: null
                          nullable: true
                        type:
                          type: string
                          example: on-ramp
                        settlement_strategy:
                          type: string
                          example: immediate
                        source_received:
                          type: boolean
                          example: false
                        on_behalf_of:
                          type: string
                          example: cus_6qufKYxr99lpe0dfgGZv79uXNNaQyZN7adVviM7E
                        source:
                          type: object
                          properties:
                            asset:
                              type: string
                              example: USD
                            amount:
                              type: integer
                              example: 10
                        destination:
                          type: object
                          properties:
                            asset:
                              type: string
                              example: USDC
                            chain:
                              type: string
                              example: stellar
                            address:
                              type: string
                              example: >-
                                GA7ZO7WNKTUFPAAR2YM6FJGK7WNTY5JBFOZHHKBQYT6GUHO3HGXOTDMH
                            address_memo:
                              type: string
                              example: null
                              nullable: true
                            beneficiary_name:
                              type: string
                              example: John Doe
                            amount:
                              type: integer
                              example: 5
                            transfer_purpose:
                              type: string
                              example: null
                              nullable: true
                            is_self_transfer:
                              type: boolean
                              example: false
                        application_transfer_uuid:
                          type: string
                          example: 65427d5e-99e2-3c5d-b196-d519d4f08a52
                        transfer_instructions:
                          type: object
                          properties:
                            account_number:
                              type: string
                              example: '123456789012'
                            routing_number:
                              type: string
                              example: '987654321'
                            bank_name:
                              type: string
                              example: FV Bank
                            bank_address:
                              type: string
                              example: 1234 Maple Lane, Springfield, IL 62704, USA
                            account_holder_name:
                              type: string
                              example: OwlTing USA
                            narrative:
                              type: string
                              example: '7566261555'
                        commission:
                          type: object
                          properties:
                            percentage:
                              type: string
                              example: '0.01'
                            amount:
                              type: integer
                              example: 1
                        receipt:
                          type: object
                          properties:
                            initial_asset:
                              type: string
                              example: USD
                            initial_amount:
                              type: string
                              example: '10.00000000'
                            commission_fee:
                              type: string
                              example: '1.10'
                            harbor_fee:
                              type: string
                              example: '0.10'
                            final_asset:
                              type: string
                              example: USDC
                            final_amount:
                              type: string
                              example: '5.00000000'
                            exchange_rate:
                              type: string
                              example: '1'
                            transaction_hash:
                              type: string
                              example: null
                              nullable: true
                            tracking_number_status:
                              type: string
                              example: null
                              nullable: true
                        meta_data:
                          type: string
                          example: null
                          nullable: true
                        created_at:
                          type: string
                          example: '2025-05-15T13:32:23+00:00'
                        updated_at:
                          type: string
                          example: '2025-05-15T13:32:23+00:00'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: >-
                          http://harbor.owlpay.worker:8080/api/v1/internal/transfers?page=1
                        description: URL to the first page.
                      last:
                        type: string
                        example: >-
                          http://harbor.owlpay.worker:8080/api/v1/internal/transfers?page=1
                        description: URL to the last page.
                      prev:
                        type: string
                        example: null
                        description: URL to the previous page. Null on the first page.
                      next:
                        type: string
                        example: null
                        description: URL to the next page. Null on the last page.
                    description: Pagination links.
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                        description: The current page number.
                      from:
                        type: integer
                        example: 1
                        description: The index of the first item on this page.
                      last_page:
                        type: integer
                        example: 1
                        description: The last page number.
                      links:
                        type: array
                        example:
                          - url: null
                            label: '&laquo; Previous'
                            active: false
                          - url: >-
                              http://harbor.owlpay.worker:8080/api/v1/internal/transfers?page=1
                            label: '1'
                            active: true
                          - url: null
                            label: Next &raquo;
                            active: false
                        description: >-
                          Pagination link objects with url, label, and active
                          status.
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                              nullable: true
                            label:
                              type: string
                              example: '&laquo; Previous'
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: >-
                          http://harbor.owlpay.worker:8080/api/v1/internal/transfers
                        description: The base URL path for pagination.
                      per_page:
                        type: integer
                        example: 15
                        description: The number of items per page.
                      to:
                        type: integer
                        example: 1
                        description: The index of the last item on this page.
                      total:
                        type: integer
                        example: 1
                        description: The total number of items.
                    description: Pagination metadata.
      tags:
        - (Deprecated) Transfer (v1)
      deprecated: true
    post:
      summary: Create a transfer
      operationId: createATransfer
      description: ''
      parameters:
        - in: header
          name: X-API-KEY
          description: ''
          example: '{YOUR_API_KEY}'
          schema:
            type: string
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                oneOf:
                  - description: On-ramp (Fiat to Stablecoin)
                    type: object
                    example:
                      data:
                        uuid: transfer_6VPk8Nrdza7OjAYlOsASMc25s6SfknZ4tRt87BDu
                        status: pending_customer_transfer_start
                        settlement_strategy: immediate
                        source_received: false
                        on_behalf_of: cus_Pilxje2m1J8LZfTzeNh9d9suiBnHtA7XqpiKnJSB
                        source:
                          asset: USD
                          amount: '100.00'
                        destination:
                          asset: USDC
                          chain: ethereum
                          address: '0x4B20993Bc481177ec7E8f571ceCaE8A9e22C02db'
                          address_memo: null
                          beneficiary_name: Chyna Rohan
                          amount: '87'
                          transfer_purpose: Salary
                          beneficiary_receiving_wallet_type: personalWallet
                          beneficiary_institution_name: MetaMask
                        application_transfer_uuid: MOCK_TEST_UUID
                        transfer_instructions:
                          account_number: '123456789012'
                          routing_number: '987654321'
                          bank_name: FV Bank
                          bank_address: 1234 Maple Lane, Springfield, IL 62704, USA
                          account_holder_name: OwlTing USA
                          narrative: '1549310090'
                        commission:
                          percentage: '0.01'
                          amount: '1.00'
                        receipt:
                          initial_asset: USD
                          initial_amount: '100.00'
                          commission_fee: '2'
                          harbor_fee: '11'
                          final_asset: USDC
                          final_amount: '87'
                          exchange_rate: '1'
                          transaction_hash: null
                        created_at: '2025-05-15T10:31:35+00:00'
                        updated_at: '2025-05-15T10:31:35+00:00'
                    properties:
                      data:
                        type: object
                        properties:
                          uuid:
                            type: string
                            example: transfer_6VPk8Nrdza7OjAYlOsASMc25s6SfknZ4tRt87BDu
                            description: >-
                              The unique identifier of the transfer (prefixed
                              with `transfer_`).
                          status:
                            type: string
                            example: pending_customer_transfer_start
                            description: >-
                              The current status of the transfer. Possible
                              values: `pending_customer_transfer_start`,
                              `pending_harbor`, `on_hold`,
                              `request_for_information`, `completed`,
                              `refunded`, `expired`, `error`, `cancelled`,
                              `reject`.
                          settlement_strategy:
                            type: string
                            example: immediate
                            description: >-
                              The settlement strategy. Possible values:
                              `immediate`.
                          source_received:
                            type: boolean
                            example: false
                            description: Whether the source funds have been received.
                          on_behalf_of:
                            type: string
                            example: cus_Pilxje2m1J8LZfTzeNh9d9suiBnHtA7XqpiKnJSB
                            description: >-
                              The UUID of the customer this transfer is on
                              behalf of (prefixed with `cus_`).
                          source:
                            type: object
                            properties:
                              asset:
                                type: string
                                example: USD
                                description: >-
                                  The source asset currency code (e.g. `USD`,
                                  `USDC`).
                              amount:
                                type: string
                                example: '100.00'
                                description: The source amount.
                            description: The source details of the transfer.
                          destination:
                            type: object
                            properties:
                              asset:
                                type: string
                                example: USDC
                                description: >-
                                  The destination asset currency code (e.g.
                                  `USDC`, `USD`).
                              chain:
                                type: string
                                example: ethereum
                                description: >-
                                  The destination blockchain network (e.g.
                                  `ethereum`). Present for on-ramp and swap
                                  transfers.
                              address:
                                type: string
                                example: '0x4B20993Bc481177ec7E8f571ceCaE8A9e22C02db'
                                description: >-
                                  The destination wallet address. Present for
                                  on-ramp and swap transfers.
                              address_memo:
                                type: string
                                example: null
                                description: >-
                                  The destination address memo. Null when not
                                  required.
                              beneficiary_name:
                                type: string
                                example: Chyna Rohan
                                description: >-
                                  The name of the beneficiary. Null when not
                                  provided.
                              amount:
                                type: string
                                example: '87'
                                description: The destination amount.
                              transfer_purpose:
                                type: string
                                example: Salary
                                description: >-
                                  The purpose of the transfer. Null when not
                                  provided.
                              beneficiary_receiving_wallet_type:
                                type: string
                                example: personalWallet
                                description: >-
                                  The type of wallet the beneficiary uses (e.g.
                                  `personalWallet`). Null when not applicable.
                              beneficiary_institution_name:
                                type: string
                                example: MetaMask
                                description: >-
                                  The name of the institution hosting the
                                  beneficiary wallet (e.g. `MetaMask`). Null
                                  when not applicable.
                            description: The destination details of the transfer.
                          application_transfer_uuid:
                            type: string
                            example: MOCK_TEST_UUID
                            description: >-
                              The application-provided unique transfer reference
                              ID.
                          transfer_instructions:
                            type: object
                            properties:
                              account_number:
                                type: string
                                example: '123456789012'
                                description: >-
                                  The bank account number to send funds to
                                  (on-ramp).
                              routing_number:
                                type: string
                                example: '987654321'
                                description: The bank routing number (on-ramp).
                              bank_name:
                                type: string
                                example: FV Bank
                                description: The bank name (on-ramp).
                              bank_address:
                                type: string
                                example: 1234 Maple Lane, Springfield, IL 62704, USA
                                description: The bank address (on-ramp).
                              account_holder_name:
                                type: string
                                example: OwlTing USA
                                description: The account holder name (on-ramp).
                              narrative:
                                type: string
                                example: '1549310090'
                                description: >-
                                  The payment narrative/reference to include
                                  (on-ramp).
                            description: >-
                              Instructions for completing the transfer (varies
                              by transfer type).
                          commission:
                            type: object
                            properties:
                              percentage:
                                type: string
                                example: '0.01'
                                description: The commission percentage rate.
                              amount:
                                type: string
                                example: '1.00'
                                description: The commission fixed amount.
                            description: The commission details.
                          receipt:
                            type: object
                            properties:
                              initial_asset:
                                type: string
                                example: USD
                                description: >-
                                  The initial asset currency code. May be absent
                                  for swap transfers.
                              initial_amount:
                                type: string
                                example: '100.00'
                                description: The initial amount before fees.
                              commission_fee:
                                type: string
                                example: '2'
                                description: The total commission fee amount.
                              harbor_fee:
                                type: string
                                example: '11'
                                description: The Harbor platform fee amount.
                              final_asset:
                                type: string
                                example: USDC
                                description: >-
                                  The final asset currency code. May be absent
                                  for swap transfers.
                              final_amount:
                                type: string
                                example: '87'
                                description: The final amount after fees and conversion.
                              exchange_rate:
                                type: string
                                example: '1'
                                description: >-
                                  The exchange rate applied. Null for same-asset
                                  swaps.
                              transaction_hash:
                                type: string
                                example: null
                                description: >-
                                  The on-chain transaction hash. Null until the
                                  transaction is broadcast.
                            description: The receipt/summary of the transfer calculation.
                          created_at:
                            type: string
                            example: '2025-05-15T10:31:35+00:00'
                            description: >-
                              ISO 8601 timestamp of when the transfer was
                              created.
                          updated_at:
                            type: string
                            example: '2025-05-15T10:31:35+00:00'
                            description: >-
                              ISO 8601 timestamp of when the transfer was last
                              updated.
                  - description: Off-ramp (Stablecoin to Fiat)
                    type: object
                    example:
                      data:
                        uuid: transfer_iIELaaw8FwpN1MPA3t0Edm2aM6Y1ujArX3Tmzewd
                        status: pending_customer_transfer_start
                        settlement_strategy: immediate
                        source_received: false
                        on_behalf_of: cus_6X8snOyEwIZC92SzPKiyeIvF53CJVBikvXOdimWQ
                        source:
                          chain: ethereum
                          asset: USDC
                          amount: '1000.00'
                        destination:
                          asset: USD
                          account_number: '123456789012'
                          routing_number: '021000021'
                          iban: null
                          swift_code: null
                          bank_code: null
                          branch_code: null
                          bank_name: Test Bank USA
                          bank_address: 123 Test Street
                          account_holder_name: John Doe
                          account_holder_kana_name: null
                          is_self_transfer: false
                          beneficiary_name: Carissa Wintheiser
                          amount: '888.00'
                          transfer_purpose: Salary
                        application_transfer_uuid: MOCK_TEST_UUID
                        transfer_instructions:
                          instruction_chain: ethereum
                          instruction_address: '0xC4b66C6F85B7e103488952E87FEF5501D372bA0B'
                          instruction_memo: '47089926335422'
                        commission:
                          percentage: '0.01'
                          amount: '1.00'
                        receipt:
                          initial_asset: USDC
                          initial_amount: '1000.00'
                          commission_fee: '11'
                          harbor_fee: '101'
                          final_asset: USD
                          final_amount: '888.00'
                          exchange_rate: '1'
                          tracking_number: null
                        created_at: '2025-05-15T10:38:51+00:00'
                        updated_at: '2025-05-15T10:38:51+00:00'
                    properties:
                      data:
                        type: object
                        properties:
                          uuid:
                            type: string
                            example: transfer_iIELaaw8FwpN1MPA3t0Edm2aM6Y1ujArX3Tmzewd
                            description: >-
                              The unique identifier of the transfer (prefixed
                              with `transfer_`).
                          status:
                            type: string
                            example: pending_customer_transfer_start
                            description: >-
                              The current status of the transfer. Possible
                              values: `pending_customer_transfer_start`,
                              `pending_harbor`, `on_hold`,
                              `request_for_information`, `completed`,
                              `refunded`, `expired`, `error`, `cancelled`,
                              `reject`.
                          settlement_strategy:
                            type: string
                            example: immediate
                            description: >-
                              The settlement strategy. Possible values:
                              `immediate`.
                          source_received:
                            type: boolean
                            example: false
                            description: Whether the source funds have been received.
                          on_behalf_of:
                            type: string
                            example: cus_6X8snOyEwIZC92SzPKiyeIvF53CJVBikvXOdimWQ
                            description: >-
                              The UUID of the customer this transfer is on
                              behalf of (prefixed with `cus_`).
                          source:
                            type: object
                            properties:
                              chain:
                                type: string
                                example: ethereum
                                description: >-
                                  The source blockchain network (e.g. `stellar`,
                                  `ethereum`). Present for off-ramp and swap
                                  transfers.
                              asset:
                                type: string
                                example: USDC
                                description: >-
                                  The source asset currency code (e.g. `USD`,
                                  `USDC`).
                              amount:
                                type: string
                                example: '1000.00'
                                description: The source amount.
                            description: The source details of the transfer.
                          destination:
                            type: object
                            properties:
                              asset:
                                type: string
                                example: USD
                                description: >-
                                  The destination asset currency code (e.g.
                                  `USDC`, `USD`).
                              account_number:
                                type: string
                                example: '123456789012'
                                description: >-
                                  The destination bank account number (off-ramp
                                  only).
                              routing_number:
                                type: string
                                example: '021000021'
                                description: >-
                                  The destination bank routing number (off-ramp
                                  only).
                              iban:
                                type: string
                                example: null
                                description: >-
                                  The destination IBAN (off-ramp,
                                  international). Null when not applicable.
                              swift_code:
                                type: string
                                example: null
                                description: >-
                                  The destination SWIFT/BIC code (off-ramp,
                                  international). Null when not applicable.
                              bank_code:
                                type: string
                                example: null
                                description: >-
                                  The destination bank code. Null when not
                                  applicable.
                              branch_code:
                                type: string
                                example: null
                                description: >-
                                  The destination branch code. Null when not
                                  applicable.
                              bank_name:
                                type: string
                                example: Test Bank USA
                                description: The destination bank name (off-ramp only).
                              bank_address:
                                type: string
                                example: 123 Test Street
                                description: The destination bank address (off-ramp only).
                              account_holder_name:
                                type: string
                                example: John Doe
                                description: >-
                                  The destination account holder name (off-ramp
                                  only).
                              account_holder_kana_name:
                                type: string
                                example: null
                                description: >-
                                  The destination account holder kana name
                                  (Japan). Null when not applicable.
                              is_self_transfer:
                                type: boolean
                                example: false
                                description: Whether this is a self-transfer.
                              beneficiary_name:
                                type: string
                                example: Carissa Wintheiser
                                description: >-
                                  The name of the beneficiary. Null when not
                                  provided.
                              amount:
                                type: string
                                example: '888.00'
                                description: The destination amount.
                              transfer_purpose:
                                type: string
                                example: Salary
                                description: >-
                                  The purpose of the transfer. Null when not
                                  provided.
                            description: The destination details of the transfer.
                          application_transfer_uuid:
                            type: string
                            example: MOCK_TEST_UUID
                            description: >-
                              The application-provided unique transfer reference
                              ID.
                          transfer_instructions:
                            type: object
                            properties:
                              instruction_chain:
                                type: string
                                example: ethereum
                                description: >-
                                  The blockchain network for on-chain deposit
                                  (off-ramp/swap).
                              instruction_address:
                                type: string
                                example: '0xC4b66C6F85B7e103488952E87FEF5501D372bA0B'
                                description: >-
                                  The deposit address for on-chain transfer
                                  (off-ramp/swap).
                              instruction_memo:
                                type: string
                                example: '47089926335422'
                                description: >-
                                  The memo for on-chain deposit. Null when not
                                  required.
                            description: >-
                              Instructions for completing the transfer (varies
                              by transfer type).
                          commission:
                            type: object
                            properties:
                              percentage:
                                type: string
                                example: '0.01'
                                description: The commission percentage rate.
                              amount:
                                type: string
                                example: '1.00'
                                description: The commission fixed amount.
                            description: The commission details.
                          receipt:
                            type: object
                            properties:
                              initial_asset:
                                type: string
                                example: USDC
                                description: >-
                                  The initial asset currency code. May be absent
                                  for swap transfers.
                              initial_amount:
                                type: string
                                example: '1000.00'
                                description: The initial amount before fees.
                              commission_fee:
                                type: string
                                example: '11'
                                description: The total commission fee amount.
                              harbor_fee:
                                type: string
                                example: '101'
                                description: The Harbor platform fee amount.
                              final_asset:
                                type: string
                                example: USD
                                description: >-
                                  The final asset currency code. May be absent
                                  for swap transfers.
                              final_amount:
                                type: string
                                example: '888.00'
                                description: The final amount after fees and conversion.
                              exchange_rate:
                                type: string
                                example: '1'
                                description: >-
                                  The exchange rate applied. Null for same-asset
                                  swaps.
                              tracking_number:
                                type: string
                                example: null
                                description: >-
                                  The fiat payment tracking number. Null until
                                  available (off-ramp only).
                            description: The receipt/summary of the transfer calculation.
                          created_at:
                            type: string
                            example: '2025-05-15T10:38:51+00:00'
                            description: >-
                              ISO 8601 timestamp of when the transfer was
                              created.
                          updated_at:
                            type: string
                            example: '2025-05-15T10:38:51+00:00'
                            description: >-
                              ISO 8601 timestamp of when the transfer was last
                              updated.
                  - description: Swap (Stablecoin to Stablecoin)
                    type: object
                    example:
                      data:
                        uuid: transfer_iIELaaw8FwpN1MPA3t0Edm2aM6Y1ujArX3Tmzewd
                        status: pending_customer_transfer_start
                        settlement_strategy: immediate
                        source_received: false
                        on_behalf_of: cus_UnN5cNkLPf7uPSWVXbTwQrhnUf0gK8eKOXYWWbOD
                        source:
                          chain: stellar
                          asset: USDC
                          amount: 100
                        destination:
                          asset: USDC
                          chain: ethereum
                          address: '0x8C883c6cc8521Fa7D752035854624667985081ed'
                          address_memo: null
                          beneficiary_name: null
                          amount: '97'
                          is_self_transfer: true
                          beneficiary_receiving_wallet_type: personalWallet
                          beneficiary_institution_name: MetaMask
                        application_transfer_uuid: Test0006
                        transfer_instructions:
                          instruction_chain: stellar
                          instruction_address: >-
                            GDMJHEWKY7DFQXUQGPDX2JP7JGTX4KGQZ6KON44TAENXBXJ3T467B3YG
                          instruction_memo: '87940346854119'
                        commission:
                          percentage: 0.01
                          amount: 1
                        receipt:
                          initial_amount: 100
                          commission_fee: '2'
                          harbor_fee: '1'
                          final_amount: '97'
                          transaction_hash: null
                        created_at: '2025-03-14T12:25:46+00:00'
                        updated_at: '2025-03-14T12:25:47+00:00'
                    properties:
                      data:
                        type: object
                        properties:
                          uuid:
                            type: string
                            example: transfer_iIELaaw8FwpN1MPA3t0Edm2aM6Y1ujArX3Tmzewd
                            description: >-
                              The unique identifier of the transfer (prefixed
                              with `transfer_`).
                          status:
                            type: string
                            example: pending_customer_transfer_start
                            description: >-
                              The current status of the transfer. Possible
                              values: `pending_customer_transfer_start`,
                              `pending_harbor`, `on_hold`,
                              `request_for_information`, `completed`,
                              `refunded`, `expired`, `error`, `cancelled`,
                              `reject`.
                          settlement_strategy:
                            type: string
                            example: immediate
                            description: >-
                              The settlement strategy. Possible values:
                              `immediate`.
                          source_received:
                            type: boolean
                            example: false
                            description: Whether the source funds have been received.
                          on_behalf_of:
                            type: string
                            example: cus_UnN5cNkLPf7uPSWVXbTwQrhnUf0gK8eKOXYWWbOD
                            description: >-
                              The UUID of the customer this transfer is on
                              behalf of (prefixed with `cus_`).
                          source:
                            type: object
                            properties:
                              chain:
                                type: string
                                example: stellar
                                description: >-
                                  The source blockchain network (e.g. `stellar`,
                                  `ethereum`). Present for off-ramp and swap
                                  transfers.
                              asset:
                                type: string
                                example: USDC
                                description: >-
                                  The source asset currency code (e.g. `USD`,
                                  `USDC`).
                              amount:
                                type: integer
                                example: 100
                                description: The source amount.
                            description: The source details of the transfer.
                          destination:
                            type: object
                            properties:
                              asset:
                                type: string
                                example: USDC
                                description: >-
                                  The destination asset currency code (e.g.
                                  `USDC`, `USD`).
                              chain:
                                type: string
                                example: ethereum
                                description: >-
                                  The destination blockchain network (e.g.
                                  `ethereum`). Present for on-ramp and swap
                                  transfers.
                              address:
                                type: string
                                example: '0x8C883c6cc8521Fa7D752035854624667985081ed'
                                description: >-
                                  The destination wallet address. Present for
                                  on-ramp and swap transfers.
                              address_memo:
                                type: string
                                example: null
                                description: >-
                                  The destination address memo. Null when not
                                  required.
                              beneficiary_name:
                                type: string
                                example: null
                                description: >-
                                  The name of the beneficiary. Null when not
                                  provided.
                              amount:
                                type: string
                                example: '97'
                                description: The destination amount.
                              is_self_transfer:
                                type: boolean
                                example: true
                                description: Whether this is a self-transfer.
                              beneficiary_receiving_wallet_type:
                                type: string
                                example: personalWallet
                                description: >-
                                  The type of wallet the beneficiary uses (e.g.
                                  `personalWallet`). Null when not applicable.
                              beneficiary_institution_name:
                                type: string
                                example: MetaMask
                                description: >-
                                  The name of the institution hosting the
                                  beneficiary wallet (e.g. `MetaMask`). Null
                                  when not applicable.
                            description: The destination details of the transfer.
                          application_transfer_uuid:
                            type: string
                            example: Test0006
                            description: >-
                              The application-provided unique transfer reference
                              ID.
                          transfer_instructions:
                            type: object
                            properties:
                              instruction_chain:
                                type: string
                                example: stellar
                                description: >-
                                  The blockchain network for on-chain deposit
                                  (off-ramp/swap).
                              instruction_address:
                                type: string
                                example: >-
                                  GDMJHEWKY7DFQXUQGPDX2JP7JGTX4KGQZ6KON44TAENXBXJ3T467B3YG
                                description: >-
                                  The deposit address for on-chain transfer
                                  (off-ramp/swap).
                              instruction_memo:
                                type: string
                                example: '87940346854119'
                                description: >-
                                  The memo for on-chain deposit. Null when not
                                  required.
                            description: >-
                              Instructions for completing the transfer (varies
                              by transfer type).
                          commission:
                            type: object
                            properties:
                              percentage:
                                type: number
                                example: 0.01
                                description: The commission percentage rate.
                              amount:
                                type: integer
                                example: 1
                                description: The commission fixed amount.
                            description: The commission details.
                          receipt:
                            type: object
                            properties:
                              initial_amount:
                                type: integer
                                example: 100
                                description: The initial amount before fees.
                              commission_fee:
                                type: string
                                example: '2'
                                description: The total commission fee amount.
                              harbor_fee:
                                type: string
                                example: '1'
                                description: The Harbor platform fee amount.
                              final_amount:
                                type: string
                                example: '97'
                                description: The final amount after fees and conversion.
                              transaction_hash:
                                type: string
                                example: null
                                description: >-
                                  The on-chain transaction hash. Null until the
                                  transaction is broadcast.
                            description: The receipt/summary of the transfer calculation.
                          created_at:
                            type: string
                            example: '2025-03-14T12:25:46+00:00'
                            description: >-
                              ISO 8601 timestamp of when the transfer was
                              created.
                          updated_at:
                            type: string
                            example: '2025-03-14T12:25:47+00:00'
                            description: >-
                              ISO 8601 timestamp of when the transfer was last
                              updated.
      tags:
        - (Deprecated) Transfer (v1)
      deprecated: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                settlement_strategy:
                  type: string
                  description: >-
                    Defines when the received funds should be settled to the
                    destination. (default: immediate).
                  example: immediate
                  enum:
                    - immediate
                    - scheduled
                  nullable: true
                destination:
                  type: object
                  description: ''
                  example: []
                  properties:
                    customer_crypto_address_id:
                      type: string
                      description: >-
                        (on-ramp) The customer crypto address ID (if you want to
                        use a specific customer crypto address, you can provide
                        the id here (If you input both, destination.address will
                        be ignored)). This field is required when
                        <code>destination.address</code> is not present.
                      example: '{{YOUR_CUSTOMER_CRYPTO_ADDRESS_ID}}'
                    address:
                      type: string
                      description: >-
                        (on-ramp) The address of the destination. This field is
                        required when
                        <code>destination.customer_crypto_address_id</code> is
                        not present.
                      example: '0x4B20993Bc481177ec7E8f571ceCaE8A9e22C02db'
                    address_memo:
                      type: string
                      description: >-
                        (on-ramp)(optional) Some blockchain supports memo for
                        the address.
                      example: '1234567890'
                      nullable: true
                    chain:
                      type: string
                      description: >-
                        (on-ramp) The chain of the destination. This field is
                        required when <code>destination.address</code> is
                        <code>!null</code>.
                      example: ethereum
                      enum:
                        - ethereum
                        - polygon
                        - arbitrum
                        - avalanche
                        - optimism
                        - stellar
                        - solana
                        - base
                    beneficiary_name:
                      type: string
                      description: >-
                        (on-ramp) The beneficiary name of the destination. This
                        field is required when <code>destination.address</code>
                        is <code>!null</code>.
                      example: John
                    asset:
                      type: string
                      description: The asset of the destination.
                      example: USDC
                    amount:
                      type: number
                      description: >-
                        The amount of the destination. This field is required
                        when none of <code>source.amount</code> are present.
                        Must be at least 0.
                      example: 100
                    is_self_transfer:
                      type: boolean
                      description: Whether the transfer is self-transfer or not.
                      example: true
                    transfer_purpose:
                      type: string
                      description: >-
                        The transfer purpose of the destination, this column is
                        required when is_self_transfer is *false*. This field is
                        required when <code>destination.is_self_transfer</code>
                        is <code>false</code>.
                      example: Salary
                    supporting_document:
                      type: string
                      description: >-
                        Supporting document for the destination, providing
                        supporting documents can effectively reduce the chances
                        of being issued an RFI (Request For Information).
                        Supported formats: png, jpg, jpeg, pdf, csv, docx, xlsx.
                      example: data:image/png;base64,iVBORw0KGgoAAAANSUh...
                      nullable: true
                    beneficiary_type:
                      type: string
                      description: >-
                        (on-ramp) The beneficiary is a company or an individual,
                        (allowed values: individual, company).
                      example: individual
                      enum:
                        - company
                        - individual
                    beneficiary_dob:
                      type: string
                      description: >-
                        (on-ramp) When the transfer is on-ramp and the transfer
                        amount exceeds 3,000 USD, Harbor requires you to enter
                        the beneficiary information. Must be a valid date in the
                        format <code>Y-m-d</code>.
                      example: '2026-09-09'
                      nullable: true
                    residential_country_code:
                      type: string
                      description: >-
                        (on-ramp) ISO 3166-1 alpha-2 code of the beneficiary’s
                        residential countr. Must be 2 characters.
                      example: US
                    residential_state:
                      type: string
                      description: >-
                        (on-ramp) State/Province/Region of the beneficiary’s
                        residence.
                      example: CA
                      enum:
                        - not applicable
                        - AL
                        - AZ
                        - AR
                        - DE
                        - DC
                        - FL
                        - GA
                        - ID
                        - IL
                        - IA
                        - ME
                        - MD
                        - MI
                        - MN
                        - MS
                        - MO
                        - MT
                        - NE
                        - NH
                        - ND
                        - OK
                        - OR
                        - SC
                        - SD
                        - TN
                        - UT
                        - VT
                        - VA
                        - WV
                        - WY
                        - AK
                        - KY
                        - CO
                        - WI
                        - PA
                        - NC
                        - KS
                        - WA
                        - NM
                    residential_city:
                      type: string
                      description: (on-ramp) City of the beneficiary’s residence.
                      example: San Francisco
                      nullable: true
                    residential_postal_code:
                      type: string
                      description: >-
                        (on-ramp) Postal/ZIP code of the beneficiary’s
                        residence.
                      example: '94103'
                    residential_address_1:
                      type: string
                      description: (on-ramp) Primary street address of the beneficiary.
                      example: 123 Market St
                    residential_address_2:
                      type: string
                      description: >-
                        (on-ramp) Secondary address details (e.g., apartment,
                        suite, unit).
                      example: Apt 4B
                      nullable: true
                    beneficiary_id_doc_type:
                      type: string
                      description: >-
                        (on-ramp) The type of identification document for the
                        beneficiary. allowed values for individual: ID_CARD,
                        PASSPORT, DRIVERS, PAYMENT_SOURCE, BANK_CARD, OTHER,
                        allowed values for company: COMPANY_DOC,
                        TRANSPARENCY_REGISTRY_EXTRACT, POWER_OF_ATTORNEY.
                      example: BANK_CARD
                      enum:
                        - ID_CARD
                        - PASSPORT
                        - DRIVERS
                        - PAYMENT_SOURCE
                        - BANK_CARD
                        - OTHER
                      nullable: true
                    beneficiary_id_doc_country_code:
                      type: string
                      description: >-
                        (on-ramp) The country of issuance for the identification
                        document. Must be 2 characters.
                      example: vt
                      nullable: true
                    beneficiary_id_doc_number:
                      type: string
                      description: (on-ramp) The number of the identification document.
                      example: id
                      nullable: true
                    beneficiary_receiving_wallet_type:
                      type: string
                      description: >-
                        (on-ramp) The type of wallet the beneficiary will
                        receive funds into. (allowed values: personalWallet,
                        thirdPartyCustodian, other).
                      example: id
                    beneficiary_institution_name:
                      type: string
                      description: >-
                        (on-ramp) Name of the wallet provider or institution
                        (e.g., `MetaMask`).
                      example: aut
                  required:
                    - is_self_transfer
                source:
                  type: object
                  description: ''
                  example: []
                  properties:
                    method:
                      type: string
                      description: >-
                        (on-ramp) The method of the source (allow: ach, wire,
                        swift).
                      example: ach
                      enum:
                        - wire
                        - ach
                        - swift
                      nullable: true
                    asset:
                      type: string
                      description: The asset of the source.
                      example: USD
                    amount:
                      type: number
                      description: >-
                        The amount of the source. This field is required when
                        none of <code>destination.amount</code> are present.
                        Must be at least 0.
                      example: 100
                on_behalf_of:
                  type: string
                  description: >-
                    This field is customer_uuid. If you are paying for the first
                    party, please onboard yourself as customer.
                  example: '{{YOUR_CUSTOMER_UUID}}'
                commission:
                  type: object
                  description: ''
                  example: []
                  properties:
                    percentage:
                      type: number
                      description: >-
                        The percentage of the commission. Must be between 0 and
                        100.00.
                      example: 0.01
                      nullable: true
                    amount:
                      type: number
                      description: The amount of the commission. Must be at least 0.
                      example: 1
                      nullable: true
                application_transfer_uuid:
                  type: string
                  description: The application transfer UUID.
                  example: '{{YOUR_APPLICATION_TRANSFER_UUID}}'
                meta_data:
                  type: object
                  description: >-
                    (optional) Arbitrary key-value metadata to attach to the
                    transfer. Echoed back on the transfer object and in
                    webhooks.
                  example:
                    order_id: '12345'
                  properties: {}
                  nullable: true
              required:
                - on_behalf_of
                - application_transfer_uuid
  /api/v1/transfers/{transfer_uuid}:
    get:
      summary: Retrieve a transfer
      operationId: retrieveATransfer
      description: ''
      parameters:
        - in: header
          name: X-API-KEY
          description: ''
          example: '{YOUR_API_KEY}'
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    uuid: transfer_5yA6pF241SkWBwNR05BpA4ZARkl01IBdNZHYzIKz
                    object: transfer
                    status: completed
                    sub_status: null
                    type: swap
                    settlement_strategy: immediate
                    source_received: true
                    on_behalf_of: cus_6qufKYxr99lpe0dfgGZv79uXNNaQyZN7adVviM7E
                    source:
                      asset: USDC
                      amount: '10.00000000'
                    destination:
                      asset: USDC
                      chain: ethereum
                      address: '0x8C883c6cc8521Fa7D752035854624667985081ed'
                      address_memo: null
                      is_self_transfer: false
                      beneficiary_name: null
                      amount: '7.88220000'
                      transfer_purpose: null
                    application_transfer_uuid: OWLTING_HARBOR_TEST_ON_CHAIN_0006
                    transfer_instructions:
                      instruction_chain: avalanche
                      instruction_address: '0x099379b35bf5c099a22fd2f01e9c0fc27e51626c'
                      instruction_memo: null
                    commission:
                      percentage: '0.01'
                      amount: '1.00'
                    receipt:
                      initial_asset: USDC
                      initial_amount: '10.00000000'
                      commission_fee: '1.10'
                      harbor_fee: '0.00'
                      final_asset: USDC
                      final_amount: '7.88220000'
                      exchange_rate: '1'
                      transaction_hash: null
                      tracking_number_status: null
                    meta_data: null
                    created_at: '2025-06-09T03:54:07+00:00'
                    updated_at: '2025-06-09T04:47:46+00:00'
                properties:
                  data:
                    type: object
                    properties:
                      uuid:
                        type: string
                        example: transfer_5yA6pF241SkWBwNR05BpA4ZARkl01IBdNZHYzIKz
                        description: >-
                          The unique identifier of the transfer (prefixed with
                          `transfer_`).
                      object:
                        type: string
                        example: transfer
                        description: The object type. Always `transfer`.
                      status:
                        type: string
                        example: completed
                        description: >-
                          The current status of the transfer. Possible values:
                          `pending_customer_transfer_start`, `pending_harbor`,
                          `on_hold`, `request_for_information`, `completed`,
                          `refunded`, `expired`, `error`, `cancelled`, `reject`.
                      sub_status:
                        type: string
                        example: null
                        description: >-
                          The sub-status providing additional detail. Null when
                          not applicable.
                      type:
                        type: string
                        example: swap
                        description: >-
                          The transfer type. Possible values: `on-ramp`,
                          `off-ramp`, `swap`.
                      settlement_strategy:
                        type: string
                        example: immediate
                        description: 'The settlement strategy. Possible values: `immediate`.'
                      source_received:
                        type: boolean
                        example: true
                        description: Whether the source funds have been received.
                      on_behalf_of:
                        type: string
                        example: cus_6qufKYxr99lpe0dfgGZv79uXNNaQyZN7adVviM7E
                        description: >-
                          The UUID of the customer this transfer is on behalf of
                          (prefixed with `cus_`).
                      source:
                        type: object
                        properties:
                          asset:
                            type: string
                            example: USDC
                            description: >-
                              The source asset currency code (e.g. `USD`,
                              `USDC`).
                          amount:
                            type: string
                            example: '10.00000000'
                            description: The source amount.
                        description: The source details of the transfer.
                      destination:
                        type: object
                        properties:
                          asset:
                            type: string
                            example: USDC
                            description: >-
                              The destination asset currency code (e.g. `USDC`,
                              `USD`).
                          chain:
                            type: string
                            example: ethereum
                            description: >-
                              The destination blockchain network (e.g.
                              `stellar`, `ethereum`). Null for fiat
                              destinations.
                          address:
                            type: string
                            example: '0x8C883c6cc8521Fa7D752035854624667985081ed'
                            description: >-
                              The destination wallet address. Null for fiat
                              destinations.
                          address_memo:
                            type: string
                            example: null
                            description: >-
                              The destination address memo. Null when not
                              required.
                          is_self_transfer:
                            type: boolean
                            example: false
                            description: Whether this is a self-transfer.
                          beneficiary_name:
                            type: string
                            example: null
                            description: >-
                              The name of the beneficiary. Null when not
                              provided.
                          amount:
                            type: string
                            example: '7.88220000'
                            description: The destination amount.
                          transfer_purpose:
                            type: string
                            example: null
                            description: >-
                              The purpose of the transfer. Null when not
                              provided.
                        description: The destination details of the transfer.
                      application_transfer_uuid:
                        type: string
                        example: OWLTING_HARBOR_TEST_ON_CHAIN_0006
                        description: The application-provided unique transfer reference ID.
                      transfer_instructions:
                        type: object
                        properties:
                          instruction_chain:
                            type: string
                            example: avalanche
                            description: >-
                              The blockchain network for on-chain instructions
                              (off-ramp/swap).
                          instruction_address:
                            type: string
                            example: '0x099379b35bf5c099a22fd2f01e9c0fc27e51626c'
                            description: >-
                              The deposit address for on-chain instructions
                              (off-ramp/swap).
                          instruction_memo:
                            type: string
                            example: null
                            description: >-
                              The memo for on-chain instructions. Null when not
                              required.
                        description: >-
                          Instructions for completing the transfer (varies by
                          transfer type).
                      commission:
                        type: object
                        properties:
                          percentage:
                            type: string
                            example: '0.01'
                            description: The commission percentage rate.
                          amount:
                            type: string
                            example: '1.00'
                            description: The commission fixed amount.
                        description: The commission details.
                      receipt:
                        type: object
                        properties:
                          initial_asset:
                            type: string
                            example: USDC
                            description: The initial asset currency code.
                          initial_amount:
                            type: string
                            example: '10.00000000'
                            description: The initial amount before fees.
                          commission_fee:
                            type: string
                            example: '1.10'
                            description: The total commission fee amount.
                          harbor_fee:
                            type: string
                            example: '0.00'
                            description: The Harbor platform fee amount.
                          final_asset:
                            type: string
                            example: USDC
                            description: The final asset currency code.
                          final_amount:
                            type: string
                            example: '7.88220000'
                            description: The final amount after fees and conversion.
                          exchange_rate:
                            type: string
                            example: '1'
                            description: The exchange rate applied.
                          transaction_hash:
                            type: string
                            example: null
                            description: >-
                              The on-chain transaction hash. Null until the
                              transaction is broadcast.
                          tracking_number_status:
                            type: string
                            example: null
                            description: >-
                              The fiat tracking number status. Null for non-fiat
                              destinations.
                        description: The receipt/summary of the transfer calculation.
                      meta_data:
                        type: string
                        example: null
                        description: >-
                          Custom metadata attached to the transfer. Null when
                          not set.
                      created_at:
                        type: string
                        example: '2025-06-09T03:54:07+00:00'
                        description: ISO 8601 timestamp of when the transfer was created.
                      updated_at:
                        type: string
                        example: '2025-06-09T04:47:46+00:00'
                        description: >-
                          ISO 8601 timestamp of when the transfer was last
                          updated.
      tags:
        - (Deprecated) Transfer (v1)
      deprecated: true
    parameters:
      - in: path
        name: transfer_uuid
        description: The ID of the transfer.
        example: transfer_1234567890
        required: true
        schema:
          type: string
  /api/v1/transfers/{transfer_uuid}/simulate-paid:
    post:
      summary: (Simulate) Update a transfer payment status
      operationId: SimulateUpdateATransferPaymentStatus
      description: ''
      parameters:
        - in: header
          name: X-API-KEY
          description: ''
          example: '{YOUR_API_KEY}'
          schema:
            type: string
      responses:
        '201':
          description: Simulate payment transfer to pending_harbor state.
          content:
            application/json:
              schema:
                type: object
                example:
                  message: The transfer status was updated successfully.
                  data: null
                properties:
                  message:
                    type: string
                    example: The transfer status was updated successfully.
                    description: A human-readable success message.
                  data:
                    type: string
                    example: null
                    description: null Always null on success.
      tags:
        - (Deprecated) Transfer (v1)
      deprecated: true
    parameters:
      - in: path
        name: transfer_uuid
        description: ''
        example: c21009eb-89bc-3978-a6c0-455037bd8723
        required: true
        schema:
          type: integer
  /api/v1/transfers/{transfer_uuid}/simulate-completed:
    post:
      summary: (Simulate) Update a transfer completed
      operationId: SimulateUpdateATransferCompleted
      description: ''
      parameters:
        - in: header
          name: X-API-KEY
          description: ''
          example: '{YOUR_API_KEY}'
          schema:
            type: string
      responses:
        '201':
          description: Simulate payment transfer to completed state.
          content:
            application/json:
              schema:
                type: object
                example:
                  message: The transfer status was updated successfully.
                  data: null
                properties:
                  message:
                    type: string
                    example: The transfer status was updated successfully.
                    description: A human-readable success message.
                  data:
                    type: string
                    example: null
                    description: null Always null on success.
      tags:
        - (Deprecated) Transfer (v1)
      deprecated: true
    parameters:
      - in: path
        name: transfer_uuid
        description: ''
        example: 3cde696e-aea7-35cd-8152-b72befe4c256
        required: true
        schema:
          type: integer
  /api/v1/applications/info:
    get:
      summary: Get Application Info
      operationId: getApplicationInfo
      description: >-
        Retrieve the current application's basic information, including
        activation status and fee configuration status.
      parameters:
        - in: header
          name: X-API-KEY
          description: ''
          example: '{YOUR_API_KEY}'
          schema:
            type: string
      responses:
        '200':
          description: Get Application Info
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    uuid: app_xR4kLm9QjT2vNpW8sB5yHcD3fA6gE1
                    name: My Application
                    is_active: true
                    is_fee_configured: true
                    created_at: '2026-01-15T08:30:00+00:00'
                    updated_at: '2026-03-20T14:22:10+00:00'
                properties:
                  data:
                    type: object
                    properties:
                      uuid:
                        type: string
                        example: app_xR4kLm9QjT2vNpW8sB5yHcD3fA6gE1
                      name:
                        type: string
                        example: My Application
                      is_active:
                        type: boolean
                        example: true
                      is_fee_configured:
                        type: boolean
                        example: true
                      created_at:
                        type: string
                        example: '2026-01-15T08:30:00+00:00'
                      updated_at:
                        type: string
                        example: '2026-03-20T14:22:10+00:00'
      tags:
        - Application
  /api/v1/applications/recipients:
    get:
      summary: Retrieve all application recipients
      operationId: retrieveAllApplicationRecipients
      description: Get all recipients
      parameters:
        - in: header
          name: X-API-KEY
          description: ''
          example: '{YOUR_API_KEY}'
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    - object: recipient
                      uuid: rcpt_0123456789abcdefghij0123456789abcdefghij
                      name: Shared Wire
                      payload:
                        destination.beneficiary_info.beneficiary_name: John Smith
                        destination.payout_instrument.account_holder_name: John Smith
                        destination.payout_instrument.account_number: '1234567890'
                        destination.payout_instrument.bank_name: HSBC Bank USA
                        destination.payout_instrument.swift_code: HSBCUSHH
                        destination.transfer_purpose: SALARY
                        destination.is_self_transfer: false
                      created_at: '2026-06-10T00:00:00+00:00'
                      updated_at: '2026-06-10T00:00:00+00:00'
                  links:
                    first: null
                    last: null
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    path: /
                    per_page: 15
                    to: 1
                    total: 1
                properties:
                  data:
                    type: array
                    example:
                      - object: recipient
                        uuid: rcpt_0123456789abcdefghij0123456789abcdefghij
                        name: Shared Wire
                        payload:
                          destination.beneficiary_info.beneficiary_name: John Smith
                          destination.payout_instrument.account_holder_name: John Smith
                          destination.payout_instrument.account_number: '1234567890'
                          destination.payout_instrument.bank_name: HSBC Bank USA
                          destination.payout_instrument.swift_code: HSBCUSHH
                          destination.transfer_purpose: SALARY
                          destination.is_self_transfer: false
                        created_at: '2026-06-10T00:00:00+00:00'
                        updated_at: '2026-06-10T00:00:00+00:00'
                    items:
                      type: object
                      properties:
                        object:
                          type: string
                          example: recipient
                        uuid:
                          type: string
                          example: rcpt_0123456789abcdefghij0123456789abcdefghij
                        name:
                          type: string
                          example: Shared Wire
                        payload:
                          type: object
                          properties:
                            destination.beneficiary_info.beneficiary_name:
                              type: string
                              example: John Smith
                            destination.payout_instrument.account_holder_name:
                              type: string
                              example: John Smith
                            destination.payout_instrument.account_number:
                              type: string
                              example: '1234567890'
                            destination.payout_instrument.bank_name:
                              type: string
                              example: HSBC Bank USA
                            destination.payout_instrument.swift_code:
                              type: string
                              example: HSBCUSHH
                            destination.transfer_purpose:
                              type: string
                              example: SALARY
                            destination.is_self_transfer:
                              type: boolean
                              example: false
                        created_at:
                          type: string
                          example: '2026-06-10T00:00:00+00:00'
                        updated_at:
                          type: string
                          example: '2026-06-10T00:00:00+00:00'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: null
                        nullable: true
                      last:
                        type: string
                        example: null
                        nullable: true
                      prev:
                        type: string
                        example: null
                        nullable: true
                      next:
                        type: string
                        example: null
                        nullable: true
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 15
                      to:
                        type: integer
                        example: 1
                      total:
                        type: integer
                        example: 1
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Invalid API Key
                  error: Invalid API Key
                  code: 1002
                  error_type: auth.invalid_api_key
                properties:
                  message:
                    type: string
                    example: Invalid API Key
                  error:
                    type: string
                    example: Invalid API Key
                  code:
                    type: integer
                    example: 1002
                  error_type:
                    type: string
                    example: auth.invalid_api_key
      tags:
        - Application Recipients
    post:
      summary: Create an application recipient
      operationId: createAnApplicationRecipient
      description: >-
        The request body has only two fields — `name` and `payload` — but
        `payload` is where all the

        recipient details go, and it is a free-form map, so it cannot be listed
        as a fixed set of

        fields here.


        **What goes into `payload`:** the `destination.*` fields of the transfer
        create body, written

        as flat dot-notation keys. The accepted keys differ per payout method
        and provider, so the

        authoritative list for a given route is the quote requirements endpoint

        (`GET /api/v2/transfers/quotes/{quote_uuid}/requirements`) — every
        `destination.*`

        path in that schema is a valid `payload` key.


        Two rules to be aware of:


        1. Keys must be the literal flat strings shown below. A nested object
           (`{"destination": {"payout_instrument": {...}}}`) is **not** accepted.
        2. Keys that do not start with `destination.` are stored but ignored
        when the recipient is
           applied to a transfer.

        Example payload for a wire payout:


        ```json

        {
[...]
