openapi: 3.0.3
info:
  title: OwlPay Harbor API
  description: OwlPay Harbor API Documentation
  version: 1.0.0
servers:
  - url: https://sandbox-harbor.owlpay.com
paths:
  /api/v1/customers/{customer_uuid}/bank_accounts:
    get:
      summary: Retrieve all customer's bank accounts
      operationId: retrieveAllCustomersBankAccounts
      description: ''
      parameters:
        - in: header
          name: X-API-KEY
          description: ''
          example: '{YOUR_API_KEY}'
          schema:
            type: string
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    - uuid: cus_bhQFUKo1sNdyDlPToMCcUPVCZQY0OLN90XDprTki
                      customer_uuid: cus_H6Sb5WyzJTdCjNw32stniAWKDxsExYMcLfaype6J
                      status: pending
                      account_number: '124567890'
                      routing_number: '021000021'
                      bank_name: Chase Bank
                      bank_address: 270 Park Avenue, New York, NY 10017
                      account_holder_name: John Michael Doe
                      updated_at: '2025-02-10T04:50:23+00:00'
                      created_at: '2025-02-10T04:50:23+00:00'
                    - uuid: cus_CG0QcNTkds0HZtq4wxVhDsFdTzJNKZgRD6QaWJ0C
                      customer_uuid: cus_H6Sb5WyzJTdCjNw32stniAWKDxsExYMcLfaype6J
                      status: pending
                      account_number: '124567890'
                      routing_number: '021000021'
                      bank_name: Chase Bank
                      bank_address: 270 Park Avenue, New York, NY 10017
                      account_holder_name: John Michael Doe
                      updated_at: '2025-02-11T04:59:03+00:00'
                      created_at: '2025-02-07T12:34:14+00:00'
                  links:
                    first: >-
                      http://owlpay_harbor_api.test/api/v1/customers/cus_H6Sb5WyzJTdCjNw32stniAWKDxsExYMcLfaype6J/bank_accounts?page=1
                    last: >-
                      http://owlpay_harbor_api.test/api/v1/customers/cus_H6Sb5WyzJTdCjNw32stniAWKDxsExYMcLfaype6J/bank_accounts?page=1
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      - url: null
                        label: '&laquo; Previous'
                        active: false
                      - url: >-
                          http://owlpay_harbor_api.test/api/v1/customers/cus_H6Sb5WyzJTdCjNw32stniAWKDxsExYMcLfaype6J/bank_accounts?page=1
                        label: '1'
                        active: true
                      - url: null
                        label: Next &raquo;
                        active: false
                    path: >-
                      http://owlpay_harbor_api.test/api/v1/customers/cus_H6Sb5WyzJTdCjNw32stniAWKDxsExYMcLfaype6J/bank_accounts
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      - uuid: cus_bhQFUKo1sNdyDlPToMCcUPVCZQY0OLN90XDprTki
                        customer_uuid: cus_H6Sb5WyzJTdCjNw32stniAWKDxsExYMcLfaype6J
                        status: pending
                        account_number: '124567890'
                        routing_number: '021000021'
                        bank_name: Chase Bank
                        bank_address: 270 Park Avenue, New York, NY 10017
                        account_holder_name: John Michael Doe
                        updated_at: '2025-02-10T04:50:23+00:00'
                        created_at: '2025-02-10T04:50:23+00:00'
                      - uuid: cus_CG0QcNTkds0HZtq4wxVhDsFdTzJNKZgRD6QaWJ0C
                        customer_uuid: cus_H6Sb5WyzJTdCjNw32stniAWKDxsExYMcLfaype6J
                        status: pending
                        account_number: '124567890'
                        routing_number: '021000021'
                        bank_name: Chase Bank
                        bank_address: 270 Park Avenue, New York, NY 10017
                        account_holder_name: John Michael Doe
                        updated_at: '2025-02-11T04:59:03+00:00'
                        created_at: '2025-02-07T12:34:14+00:00'
                    items:
                      type: object
                      properties:
                        uuid:
                          type: string
                          example: cus_bhQFUKo1sNdyDlPToMCcUPVCZQY0OLN90XDprTki
                        customer_uuid:
                          type: string
                          example: cus_H6Sb5WyzJTdCjNw32stniAWKDxsExYMcLfaype6J
                        status:
                          type: string
                          example: pending
                        account_number:
                          type: string
                          example: '124567890'
                        routing_number:
                          type: string
                          example: '021000021'
                        bank_name:
                          type: string
                          example: Chase Bank
                        bank_address:
                          type: string
                          example: 270 Park Avenue, New York, NY 10017
                        account_holder_name:
                          type: string
                          example: John Michael Doe
                        updated_at:
                          type: string
                          example: '2025-02-10T04:50:23+00:00'
                        created_at:
                          type: string
                          example: '2025-02-10T04:50:23+00:00'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: >-
                          http://owlpay_harbor_api.test/api/v1/customers/cus_H6Sb5WyzJTdCjNw32stniAWKDxsExYMcLfaype6J/bank_accounts?page=1
                      last:
                        type: string
                        example: >-
                          http://owlpay_harbor_api.test/api/v1/customers/cus_H6Sb5WyzJTdCjNw32stniAWKDxsExYMcLfaype6J/bank_accounts?page=1
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          - url: null
                            label: '&laquo; Previous'
                            active: false
                          - url: >-
                              http://owlpay_harbor_api.test/api/v1/customers/cus_H6Sb5WyzJTdCjNw32stniAWKDxsExYMcLfaype6J/bank_accounts?page=1
                            label: '1'
                            active: true
                          - url: null
                            label: Next &raquo;
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: '&laquo; Previous'
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: >-
                          http://owlpay_harbor_api.test/api/v1/customers/cus_H6Sb5WyzJTdCjNw32stniAWKDxsExYMcLfaype6J/bank_accounts
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - Customer's bank accounts
    post:
      summary: Create a customer's bank account
      operationId: createACustomersBankAccount
      description: ''
      parameters:
        - in: header
          name: X-API-KEY
          description: ''
          example: '{YOUR_API_KEY}'
          schema:
            type: string
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    uuid: '{{bank_uuid}}'
                    customer_uuid: '{{customer_uuid}}'
                    status: pending
                    account_number: '124567890'
                    routing_number: '021000021'
                    bank_name: Chase Bank
                    bank_address: 270 Park Avenue, New York, NY 10017
                    account_holder_name: John Michael Doe
                    updated_at: '2025-02-11T06:47:49+00:00'
                    created_at: '2025-02-11T06:47:49+00:00'
                properties:
                  data:
                    type: object
                    properties:
                      uuid:
                        type: string
                        example: '{{bank_uuid}}'
                      customer_uuid:
                        type: string
                        example: '{{customer_uuid}}'
                      status:
                        type: string
                        example: pending
                      account_number:
                        type: string
                        example: '124567890'
                      routing_number:
                        type: string
                        example: '021000021'
                      bank_name:
                        type: string
                        example: Chase Bank
                      bank_address:
                        type: string
                        example: 270 Park Avenue, New York, NY 10017
                      account_holder_name:
                        type: string
                        example: John Michael Doe
                      updated_at:
                        type: string
                        example: '2025-02-11T06:47:49+00:00'
                      created_at:
                        type: string
                        example: '2025-02-11T06:47:49+00:00'
      tags:
        - Customer's bank accounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                account_number:
                  type: string
                  description: ''
                  example: eum
                  nullable: false
                routing_number:
                  type: string
                  description: ''
                  example: ullam
                  nullable: false
                bank_name:
                  type: string
                  description: ''
                  example: perspiciatis
                  nullable: false
                bank_address:
                  type: string
                  description: ''
                  example: quibusdam
                  nullable: false
                account_holder_name:
                  type: string
                  description: ''
                  example: perspiciatis
                  nullable: false
              required:
                - account_number
                - routing_number
                - bank_name
                - bank_address
                - account_holder_name
    parameters:
      - in: path
        name: customer_uuid
        description: The ID of the customer.
        example: cus_1234567890
        required: true
        schema:
          type: string
  /api/v1/customers/{customer_uuid}/bank_accounts/{uuid}:
    get:
      summary: Retrieve a customer's bank account
      operationId: retrieveACustomersBankAccount
      description: ''
      parameters:
        - in: header
          name: X-API-KEY
          description: ''
          example: '{YOUR_API_KEY}'
          schema:
            type: string
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    uuid: '{{bank_uuid}}'
                    customer_uuid: '{{customer_uuid}}'
                    status: pending
                    account_number: '124567890'
                    routing_number: '021000021'
                    bank_name: Chase Bank
                    bank_address: 270 Park Avenue, New York, NY 10017
                    account_holder_name: John Michael Doe
                    updated_at: '2025-02-11T06:47:49+00:00'
                    created_at: '2025-02-11T06:47:49+00:00'
                properties:
                  data:
                    type: object
                    properties:
                      uuid:
                        type: string
                        example: '{{bank_uuid}}'
                      customer_uuid:
                        type: string
                        example: '{{customer_uuid}}'
                      status:
                        type: string
                        example: pending
                      account_number:
                        type: string
                        example: '124567890'
                      routing_number:
                        type: string
                        example: '021000021'
                      bank_name:
                        type: string
                        example: Chase Bank
                      bank_address:
                        type: string
                        example: 270 Park Avenue, New York, NY 10017
                      account_holder_name:
                        type: string
                        example: John Michael Doe
                      updated_at:
                        type: string
                        example: '2025-02-11T06:47:49+00:00'
                      created_at:
                        type: string
                        example: '2025-02-11T06:47:49+00:00'
      tags:
        - Customer's bank accounts
    put:
      summary: Update a customer's bank account
      operationId: updateACustomersBankAccount
      description: ''
      parameters:
        - in: header
          name: X-API-KEY
          description: ''
          example: '{YOUR_API_KEY}'
          schema:
            type: string
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    uuid: '{{bank_uuid}}'
                    customer_uuid: '{{customer_uuid}}'
                    status: pending
                    account_number: '124567890'
                    routing_number: '021000021'
                    bank_name: Chase Bank
                    bank_address: 270 Park Avenue, New York, NY 10017
                    account_holder_name: John Michael Doe
                    updated_at: '2025-02-11T06:47:49+00:00'
                    created_at: '2025-02-11T06:47:49+00:00'
                properties:
                  data:
                    type: object
                    properties:
                      uuid:
                        type: string
                        example: '{{bank_uuid}}'
                      customer_uuid:
                        type: string
                        example: '{{customer_uuid}}'
                      status:
                        type: string
                        example: pending
                      account_number:
                        type: string
                        example: '124567890'
                      routing_number:
                        type: string
                        example: '021000021'
                      bank_name:
                        type: string
                        example: Chase Bank
                      bank_address:
                        type: string
                        example: 270 Park Avenue, New York, NY 10017
                      account_holder_name:
                        type: string
                        example: John Michael Doe
                      updated_at:
                        type: string
                        example: '2025-02-11T06:47:49+00:00'
                      created_at:
                        type: string
                        example: '2025-02-11T06:47:49+00:00'
      tags:
        - Customer's bank accounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                account_number:
                  type: string
                  description: ''
                  example: qui
                  nullable: false
                routing_number:
                  type: string
                  description: ''
                  example: nobis
                  nullable: false
                bank_name:
                  type: string
                  description: ''
                  example: culpa
                  nullable: false
                bank_address:
                  type: string
                  description: ''
                  example: dolorum
                  nullable: false
                account_holder_name:
                  type: string
                  description: ''
                  example: sequi
                  nullable: false
              required:
                - account_number
                - routing_number
                - bank_name
                - bank_address
                - account_holder_name
    delete:
      summary: Delete a customer's bank account
      operationId: deleteACustomersBankAccount
      description: ''
      parameters:
        - in: header
          name: X-API-KEY
          description: ''
          example: '{YOUR_API_KEY}'
          schema:
            type: string
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: The customer's bank account was deleted successfully.
                  data: null
                properties:
                  message:
                    type: string
                    example: The customer's bank account was deleted successfully.
                  data:
                    type: string
                    example: null
      tags:
        - Customer's bank accounts
    parameters:
      - in: path
        name: customer_uuid
        description: The ID of the customer.
        example: cus_1234567890
        required: true
        schema:
          type: string
      - in: path
        name: uuid
        description: The ID of the bank account.
        example: bank_1234567890
        required: true
        schema:
          type: string
  /api/v1/customers/{customer_uuid}/crypto_addresses:
    get:
      summary: Retrieve all customer's crypto addresses
      operationId: retrieveAllCustomersCryptoAddresses
      description: ''
      parameters:
        - in: header
          name: X-API-KEY
          description: ''
          example: '{YOUR_API_KEY}'
          schema:
            type: string
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    - uuid: cus_c6eGuhprDrqQK6ea0JNBffci77fHckdc9uZUeodS
                      customer_uuid: cus_H6Sb5WyzJTdCjNw32stniAWKDxsExYMcLfaype6J
                      chain: ethereum
                      address: '0x4B20993Bc481177ec7E8f571ceCaE8A9e22C02db'
                      status: pending
                      updated_at: '2025-02-10T07:13:10+00:00'
                      created_at: '2025-02-10T07:13:10+00:00'
                    - uuid: cus_vz1nNEotuwBqjqYedW7bAcAS8V26WuKds0YiIQCv
                      customer_uuid: cus_H6Sb5WyzJTdCjNw32stniAWKDxsExYMcLfaype6J
                      chain: ethereum
                      address: '0x4B20993Bc481177ec7E8f571ceCaE8A9e22C02db'
                      status: pending
                      updated_at: '2025-02-11T05:00:44+00:00'
                      created_at: '2025-02-10T07:12:52+00:00'
                  links:
                    first: >-
                      http://owlpay_harbor_api.test/api/v1/customers/cus_H6Sb5WyzJTdCjNw32stniAWKDxsExYMcLfaype6J/crypto_addresses?page=1
                    last: >-
                      http://owlpay_harbor_api.test/api/v1/customers/cus_H6Sb5WyzJTdCjNw32stniAWKDxsExYMcLfaype6J/crypto_addresses?page=1
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      - url: null
                        label: '&laquo; Previous'
                        active: false
                      - url: >-
                          http://owlpay_harbor_api.test/api/v1/customers/cus_H6Sb5WyzJTdCjNw32stniAWKDxsExYMcLfaype6J/crypto_addresses?page=1
                        label: '1'
                        active: true
                      - url: null
                        label: Next &raquo;
                        active: false
                    path: >-
                      http://owlpay_harbor_api.test/api/v1/customers/cus_H6Sb5WyzJTdCjNw32stniAWKDxsExYMcLfaype6J/crypto_addresses
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      - uuid: cus_c6eGuhprDrqQK6ea0JNBffci77fHckdc9uZUeodS
                        customer_uuid: cus_H6Sb5WyzJTdCjNw32stniAWKDxsExYMcLfaype6J
                        chain: ethereum
                        address: '0x4B20993Bc481177ec7E8f571ceCaE8A9e22C02db'
                        status: pending
                        updated_at: '2025-02-10T07:13:10+00:00'
                        created_at: '2025-02-10T07:13:10+00:00'
                      - uuid: cus_vz1nNEotuwBqjqYedW7bAcAS8V26WuKds0YiIQCv
                        customer_uuid: cus_H6Sb5WyzJTdCjNw32stniAWKDxsExYMcLfaype6J
                        chain: ethereum
                        address: '0x4B20993Bc481177ec7E8f571ceCaE8A9e22C02db'
                        status: pending
                        updated_at: '2025-02-11T05:00:44+00:00'
                        created_at: '2025-02-10T07:12:52+00:00'
                    items:
                      type: object
                      properties:
                        uuid:
                          type: string
                          example: cus_c6eGuhprDrqQK6ea0JNBffci77fHckdc9uZUeodS
                        customer_uuid:
                          type: string
                          example: cus_H6Sb5WyzJTdCjNw32stniAWKDxsExYMcLfaype6J
                        chain:
                          type: string
                          example: ethereum
                        address:
                          type: string
                          example: '0x4B20993Bc481177ec7E8f571ceCaE8A9e22C02db'
                        status:
                          type: string
                          example: pending
                        updated_at:
                          type: string
                          example: '2025-02-10T07:13:10+00:00'
                        created_at:
                          type: string
                          example: '2025-02-10T07:13:10+00:00'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: >-
                          http://owlpay_harbor_api.test/api/v1/customers/cus_H6Sb5WyzJTdCjNw32stniAWKDxsExYMcLfaype6J/crypto_addresses?page=1
                      last:
                        type: string
                        example: >-
                          http://owlpay_harbor_api.test/api/v1/customers/cus_H6Sb5WyzJTdCjNw32stniAWKDxsExYMcLfaype6J/crypto_addresses?page=1
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          - url: null
                            label: '&laquo; Previous'
                            active: false
                          - url: >-
                              http://owlpay_harbor_api.test/api/v1/customers/cus_H6Sb5WyzJTdCjNw32stniAWKDxsExYMcLfaype6J/crypto_addresses?page=1
                            label: '1'
                            active: true
                          - url: null
                            label: Next &raquo;
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: '&laquo; Previous'
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: >-
                          http://owlpay_harbor_api.test/api/v1/customers/cus_H6Sb5WyzJTdCjNw32stniAWKDxsExYMcLfaype6J/crypto_addresses
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - Customer's crypto addresses
    post:
      summary: Create a customer's crypto address
      operationId: createACustomersCryptoAddress
      description: ''
      parameters:
        - in: header
          name: X-API-KEY
          description: ''
          example: '{YOUR_API_KEY}'
          schema:
            type: string
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    - uuid: cus_c6eGuhprDrqQK6ea0JNBffci77fHckdc9uZUeodS
                      customer_uuid: cus_H6Sb5WyzJTdCjNw32stniAWKDxsExYMcLfaype6J
                      chain: ethereum
                      address: '0x4B20993Bc481177ec7E8f571ceCaE8A9e22C02db'
                      status: pending
                      updated_at: '2025-02-10T07:13:10+00:00'
                      created_at: '2025-02-10T07:13:10+00:00'
                    - uuid: cus_vz1nNEotuwBqjqYedW7bAcAS8V26WuKds0YiIQCv
                      customer_uuid: cus_H6Sb5WyzJTdCjNw32stniAWKDxsExYMcLfaype6J
                      chain: ethereum
                      address: '0x4B20993Bc481177ec7E8f571ceCaE8A9e22C02db'
                      status: pending
                      updated_at: '2025-02-11T05:00:44+00:00'
                      created_at: '2025-02-10T07:12:52+00:00'
                  links:
                    first: >-
                      http://owlpay_harbor_api.test/api/v1/customers/cus_H6Sb5WyzJTdCjNw32stniAWKDxsExYMcLfaype6J/crypto_addresses?page=1
                    last: >-
                      http://owlpay_harbor_api.test/api/v1/customers/cus_H6Sb5WyzJTdCjNw32stniAWKDxsExYMcLfaype6J/crypto_addresses?page=1
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      - url: null
                        label: '&laquo; Previous'
                        active: false
                      - url: >-
                          http://owlpay_harbor_api.test/api/v1/customers/cus_H6Sb5WyzJTdCjNw32stniAWKDxsExYMcLfaype6J/crypto_addresses?page=1
                        label: '1'
                        active: true
                      - url: null
                        label: Next &raquo;
                        active: false
                    path: >-
                      http://owlpay_harbor_api.test/api/v1/customers/cus_H6Sb5WyzJTdCjNw32stniAWKDxsExYMcLfaype6J/crypto_addresses
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      - uuid: cus_c6eGuhprDrqQK6ea0JNBffci77fHckdc9uZUeodS
                        customer_uuid: cus_H6Sb5WyzJTdCjNw32stniAWKDxsExYMcLfaype6J
                        chain: ethereum
                        address: '0x4B20993Bc481177ec7E8f571ceCaE8A9e22C02db'
                        status: pending
                        updated_at: '2025-02-10T07:13:10+00:00'
                        created_at: '2025-02-10T07:13:10+00:00'
                      - uuid: cus_vz1nNEotuwBqjqYedW7bAcAS8V26WuKds0YiIQCv
                        customer_uuid: cus_H6Sb5WyzJTdCjNw32stniAWKDxsExYMcLfaype6J
                        chain: ethereum
                        address: '0x4B20993Bc481177ec7E8f571ceCaE8A9e22C02db'
                        status: pending
                        updated_at: '2025-02-11T05:00:44+00:00'
                        created_at: '2025-02-10T07:12:52+00:00'
                    items:
                      type: object
                      properties:
                        uuid:
                          type: string
                          example: cus_c6eGuhprDrqQK6ea0JNBffci77fHckdc9uZUeodS
                        customer_uuid:
                          type: string
                          example: cus_H6Sb5WyzJTdCjNw32stniAWKDxsExYMcLfaype6J
                        chain:
                          type: string
                          example: ethereum
                        address:
                          type: string
                          example: '0x4B20993Bc481177ec7E8f571ceCaE8A9e22C02db'
                        status:
                          type: string
                          example: pending
                        updated_at:
                          type: string
                          example: '2025-02-10T07:13:10+00:00'
                        created_at:
                          type: string
                          example: '2025-02-10T07:13:10+00:00'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: >-
                          http://owlpay_harbor_api.test/api/v1/customers/cus_H6Sb5WyzJTdCjNw32stniAWKDxsExYMcLfaype6J/crypto_addresses?page=1
                      last:
                        type: string
                        example: >-
                          http://owlpay_harbor_api.test/api/v1/customers/cus_H6Sb5WyzJTdCjNw32stniAWKDxsExYMcLfaype6J/crypto_addresses?page=1
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          - url: null
                            label: '&laquo; Previous'
                            active: false
                          - url: >-
                              http://owlpay_harbor_api.test/api/v1/customers/cus_H6Sb5WyzJTdCjNw32stniAWKDxsExYMcLfaype6J/crypto_addresses?page=1
                            label: '1'
                            active: true
                          - url: null
                            label: Next &raquo;
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: '&laquo; Previous'
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: >-
                          http://owlpay_harbor_api.test/api/v1/customers/cus_H6Sb5WyzJTdCjNw32stniAWKDxsExYMcLfaype6J/crypto_addresses
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - Customer's crypto addresses
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chain:
                  type: string
                  description: ''
                  example: aut
                  nullable: false
                address:
                  type: string
                  description: ''
                  example: et
                  nullable: false
                address_memo:
                  type: string
                  description: ''
                  example: autem
                  nullable: true
              required:
                - chain
                - address
    parameters:
      - in: path
        name: customer_uuid
        description: The ID of the customer.
        example: cus_1234567890
        required: true
        schema:
          type: string
  /api/v1/customers/{customer_uuid}/crypto_addresses/addr/{address}:
    get:
      summary: Retrieve a customer's crypto address by address
      operationId: retrieveACustomersCryptoAddressByAddress
      description: ''
      parameters:
        - in: header
          name: X-API-KEY
          description: ''
          example: '{YOUR_API_KEY}'
          schema:
            type: string
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    uuid: '{{crypto_uuid}}'
                    customer_uuid: '{{customer_uuid}}'
                    chain: ethereum
                    asset: USDC
                    status: null
                    address: '0x4B20993Bc481177ec7E8f571ceCaE8A9e22C02db'
                    updated_at: '2025-02-11T06:28:49+00:00'
                    created_at: '2025-02-11T06:28:49+00:00'
                properties:
                  data:
                    type: object
                    properties:
                      uuid:
                        type: string
                        example: '{{crypto_uuid}}'
                      customer_uuid:
                        type: string
                        example: '{{customer_uuid}}'
                      chain:
                        type: string
                        example: ethereum
                      asset:
                        type: string
                        example: USDC
                      status:
                        type: string
                        example: null
                      address:
                        type: string
                        example: '0x4B20993Bc481177ec7E8f571ceCaE8A9e22C02db'
                      updated_at:
                        type: string
                        example: '2025-02-11T06:28:49+00:00'
                      created_at:
                        type: string
                        example: '2025-02-11T06:28:49+00:00'
      tags:
        - Customer's crypto addresses
    parameters:
      - in: path
        name: customer_uuid
        description: The ID of the customer.
        example: cus_1234567890
        required: true
        schema:
          type: string
      - in: path
        name: address
        description: The address of the crypto address.
        example: '0x1234567890'
        required: true
        schema:
          type: string
  /api/v1/customers/{customer_uuid}/crypto_addresses/{uuid}:
    get:
      summary: Retrieve a customer's crypto address
      operationId: retrieveACustomersCryptoAddress
      description: ''
      parameters:
        - in: header
          name: X-API-KEY
          description: ''
          example: '{YOUR_API_KEY}'
          schema:
            type: string
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    uuid: '{{crypto_uuid}}'
                    customer_uuid: '{{customer_uuid}}'
                    chain: ethereum
                    asset: USDC
                    status: null
                    address: '0x4B20993Bc481177ec7E8f571ceCaE8A9e22C02db'
                    updated_at: '2025-02-11T06:28:49+00:00'
                    created_at: '2025-02-11T06:28:49+00:00'
                properties:
                  data:
                    type: object
                    properties:
                      uuid:
                        type: string
                        example: '{{crypto_uuid}}'
                      customer_uuid:
                        type: string
                        example: '{{customer_uuid}}'
                      chain:
                        type: string
                        example: ethereum
                      asset:
                        type: string
                        example: USDC
                      status:
                        type: string
                        example: null
                      address:
                        type: string
                        example: '0x4B20993Bc481177ec7E8f571ceCaE8A9e22C02db'
                      updated_at:
                        type: string
                        example: '2025-02-11T06:28:49+00:00'
                      created_at:
                        type: string
                        example: '2025-02-11T06:28:49+00:00'
      tags:
        - Customer's crypto addresses
    put:
      summary: Update a customer's crypto address
      operationId: updateACustomersCryptoAddress
      description: ''
      parameters:
        - in: header
          name: X-API-KEY
          description: ''
          example: '{YOUR_API_KEY}'
          schema:
            type: string
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    uuid: '{{crypto_uuid}}'
                    customer_uuid: '{{customer_uuid}}'
                    chain: ethereum
                    asset: USDC
                    status: null
                    address: '0x4B20993Bc481177ec7E8f571ceCaE8A9e22C02db'
                    updated_at: '2025-02-11T06:28:49+00:00'
                    created_at: '2025-02-11T06:28:49+00:00'
                properties:
                  data:
                    type: object
                    properties:
                      uuid:
                        type: string
                        example: '{{crypto_uuid}}'
                      customer_uuid:
                        type: string
                        example: '{{customer_uuid}}'
                      chain:
                        type: string
                        example: ethereum
                      asset:
                        type: string
                        example: USDC
                      status:
                        type: string
                        example: null
                      address:
                        type: string
                        example: '0x4B20993Bc481177ec7E8f571ceCaE8A9e22C02db'
                      updated_at:
                        type: string
                        example: '2025-02-11T06:28:49+00:00'
                      created_at:
                        type: string
                        example: '2025-02-11T06:28:49+00:00'
      tags:
        - Customer's crypto addresses
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chain:
                  type: string
                  description: ''
                  example: quia
                  nullable: false
                address:
                  type: string
                  description: ''
                  example: quia
                  nullable: false
                status:
                  type: string
                  description: ''
                  example: disabled
                  nullable: false
                  enum:
                    - enabled
                    - disabled
              required:
                - chain
                - address
                - status
    delete:
      summary: Delete a customer's crypto address
      operationId: deleteACustomersCryptoAddress
      description: ''
      parameters:
        - in: header
          name: X-API-KEY
          description: ''
          example: '{YOUR_API_KEY}'
          schema:
            type: string
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: The customer's crypto address was deleted successfully.
                  data: null
                properties:
                  message:
                    type: string
                    example: The customer's crypto address was deleted successfully.
                  data:
                    type: string
                    example: null
      tags:
        - Customer's crypto addresses
    parameters:
      - in: path
        name: customer_uuid
        description: The ID of the customer.
        example: cus_1234567890
        required: true
        schema:
          type: string
      - in: path
        name: uuid
        description: The ID of the crypto address.
        example: crypto_1234567890
        required: true
        schema:
          type: string
  /api/v1/customers:
    get:
      summary: List all customers
      operationId: listAllCustomers
      description: ''
      parameters:
        - in: header
          name: X-API-KEY
          description: ''
          example: '{YOUR_API_KEY}'
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    - uuid: '{{customer_uuid}}'
                      status: inactive
                      type: individual
                      first_name: John
                      middle_name: Michael
                      last_name: Doe
                      email: john.doe@example.com
                      phone_country_code: US
                      phone_number: 555-555-1234
                      birth_date: '1988-04-15'
                      has_signed_agreement: false
                      agreement_link: https://sandbox-harbor.owlpay.com/agreement_link
                      kyc_link: https://sandbox-harbor.owlpay.com/kyc_link
                      description: A freelance writer who loves exploring national parks.
                      created_at: '2025-02-11T06:35:50+00:00'
                      updated_at: '2025-02-11T06:35:50+00:00'
                properties:
                  data:
                    type: array
                    example:
                      - uuid: '{{customer_uuid}}'
                        status: inactive
                        type: individual
                        first_name: John
                        middle_name: Michael
                        last_name: Doe
                        email: john.doe@example.com
                        phone_country_code: US
                        phone_number: 555-555-1234
                        birth_date: '1988-04-15'
                        has_signed_agreement: false
                        agreement_link: https://sandbox-harbor.owlpay.com/agreement_link
                        kyc_link: https://sandbox-harbor.owlpay.com/kyc_link
                        description: A freelance writer who loves exploring national parks.
                        created_at: '2025-02-11T06:35:50+00:00'
                        updated_at: '2025-02-11T06:35:50+00:00'
                    items:
                      type: object
                      properties:
                        uuid:
                          type: string
                          example: '{{customer_uuid}}'
                        status:
                          type: string
                          example: inactive
                        type:
                          type: string
                          example: individual
                        first_name:
                          type: string
                          example: John
                        middle_name:
                          type: string
                          example: Michael
                        last_name:
                          type: string
                          example: Doe
                        email:
                          type: string
                          example: john.doe@example.com
                        phone_country_code:
                          type: string
                          example: US
                        phone_number:
                          type: string
                          example: 555-555-1234
                        birth_date:
                          type: string
                          example: '1988-04-15'
                        has_signed_agreement:
                          type: boolean
                          example: false
                        agreement_link:
                          type: string
                          example: https://sandbox-harbor.owlpay.com/agreement_link
                        kyc_link:
                          type: string
                          example: https://sandbox-harbor.owlpay.com/kyc_link
                        description:
                          type: string
                          example: >-
                            A freelance writer who loves exploring national
                            parks.
                        created_at:
                          type: string
                          example: '2025-02-11T06:35:50+00:00'
                        updated_at:
                          type: string
                          example: '2025-02-11T06:35:50+00:00'
      tags:
        - Customer management
    post:
      summary: Create a customer
      operationId: createACustomer
      description: ''
      parameters:
        - in: header
          name: X-API-KEY
          description: ''
          example: '{YOUR_API_KEY}'
          schema:
            type: string
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    uuid: '{{customer_uuid}}'
                    status: inactive
                    type: individual
                    first_name: John
                    middle_name: Michael
                    last_name: Doe
                    email: john.doe@example.com
                    phone_country_code: US
                    phone_number: 555-555-1234
                    birth_date: '1988-04-15'
                    has_signed_agreement: false
                    agreement_link: https://sandbox-harbor.owlpay.com/agreement_link
                    kyc_link: https://sandbox-harbor.owlpay.com/kyc_link
                    description: A freelance writer who loves exploring national parks.
                    created_at: '2025-02-11T06:35:50+00:00'
                    updated_at: '2025-02-11T06:35:50+00:00'
                properties:
                  data:
                    type: object
                    properties:
                      uuid:
                        type: string
                        example: '{{customer_uuid}}'
                      status:
                        type: string
                        example: inactive
                      type:
                        type: string
                        example: individual
                      first_name:
                        type: string
                        example: John
                      middle_name:
                        type: string
                        example: Michael
                      last_name:
                        type: string
                        example: Doe
                      email:
                        type: string
                        example: john.doe@example.com
                      phone_country_code:
                        type: string
                        example: US
                      phone_number:
                        type: string
                        example: 555-555-1234
                      birth_date:
                        type: string
                        example: '1988-04-15'
                      has_signed_agreement:
                        type: boolean
                        example: false
                      agreement_link:
                        type: string
                        example: https://sandbox-harbor.owlpay.com/agreement_link
                      kyc_link:
                        type: string
                        example: https://sandbox-harbor.owlpay.com/kyc_link
                      description:
                        type: string
                        example: A freelance writer who loves exploring national parks.
                      created_at:
                        type: string
                        example: '2025-02-11T06:35:50+00:00'
                      updated_at:
                        type: string
                        example: '2025-02-11T06:35:50+00:00'
      tags:
        - Customer management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  description: >-
                    The type of the customer. Must not be greater than 80
                    characters.
                  example: individual
                  nullable: false
                  enum:
                    - individual
                    - business
                first_name:
                  type: string
                  description: >-
                    The first name of the customer. Must not be greater than 255
                    characters.
                  example: John
                  nullable: false
                middle_name:
                  type: string
                  description: >-
                    The middle name of the customer. Must not be greater than
                    255 characters.
                  example: null
                  nullable: true
                last_name:
                  type: string
                  description: >-
                    The last name of the customer. Must not be greater than 255
                    characters.
                  example: Doe
                  nullable: false
                email:
                  type: string
                  description: >-
                    The email of the customer. Must be a valid email address.
                    Must not be greater than 255 characters.
                  example: harbor_customer@owlpay.com
                  nullable: false
                phone_country_code:
                  type: string
                  description: >-
                    The phone country code of the customer. Must be 2
                    characters.
                  example: US
                  nullable: false
                phone_number:
                  type: string
                  description: >-
                    The phone number of the customer. Must not be greater than
                    20 characters.
                  example: '4567891234'
                  nullable: false
                birth_date:
                  type: string
                  description: >-
                    The birth date of the customer. Must be a valid date. Must
                    be a date before <code>today</code>.
                  example: '2000-01-01'
                  nullable: false
                description:
                  type: string
                  description: >-
                    The description of the customer (Only application visible).
                    Must not be greater than 500 characters.
                  example: null
                  nullable: true
              required:
                - type
                - first_name
                - last_name
                - email
                - phone_country_code
                - phone_number
                - birth_date
  /api/v1/customers/{customer_uuid}/agreement_link:
    post:
      summary: Get the Customer Agreement Link
      operationId: getTheCustomerAgreementLink
      description: ''
      parameters:
        - in: header
          name: X-API-KEY
          description: ''
          example: '{YOUR_API_KEY}'
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  agreement_link: >-
                    http://harbor.owlpay.worker:8080/agreements?uuid=agt_geLIvKd2r9rujaxp85q6Hgp3DSprPfafAZjRrN4w
                properties:
                  agreement_link:
                    type: string
                    example: >-
                      http://harbor.owlpay.worker:8080/agreements?uuid=agt_geLIvKd2r9rujaxp85q6Hgp3DSprPfafAZjRrN4w
      tags:
        - Customer management
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                redirect_url:
                  type: string
                  description: >-
                    The URL to redirect the customer after accepting the
                    agreement. Must be a valid URL.
                  example: null
                  nullable: false
    parameters:
      - in: path
        name: customer_uuid
        description: The ID of the customer.
        example: cus_1234567890
        required: true
        schema:
          type: string
  /api/v1/customers/{customer_uuid}:
    delete:
      summary: Delete a customer
      operationId: deleteACustomer
      description: ''
      parameters:
        - in: header
          name: X-API-KEY
          description: ''
          example: '{YOUR_API_KEY}'
          schema:
            type: string
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: The customer was deleted successfully.
                  data: null
                properties:
                  message:
                    type: string
                    example: The customer was deleted successfully.
                  data:
                    type: string
                    example: null
      tags:
        - Customer management
    get:
      summary: Retrieve a customer
      operationId: retrieveACustomer
      description: ''
      parameters:
        - in: header
          name: X-API-KEY
          description: ''
          example: '{YOUR_API_KEY}'
          schema:
            type: string
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    uuid: '{{customer_uuid}}'
                    status: inactive
                    type: individual
                    first_name: John
                    middle_name: Michael
                    last_name: Doe
                    email: john.doe@example.com
                    phone_country_code: US
                    phone_number: 555-555-1234
                    birth_date: '1988-04-15'
                    has_signed_agreement: false
                    agreement_link: https://sandbox-harbor.owlpay.com/agreement_link
                    kyc_link: https://sandbox-harbor.owlpay.com/kyc_link
                    description: A freelance writer who loves exploring national parks.
                    created_at: '2025-02-11T06:35:50+00:00'
                    updated_at: '2025-02-11T06:35:50+00:00'
                properties:
                  data:
                    type: object
                    properties:
                      uuid:
                        type: string
                        example: '{{customer_uuid}}'
                      status:
                        type: string
                        example: inactive
                      type:
                        type: string
                        example: individual
                      first_name:
                        type: string
                        example: John
                      middle_name:
                        type: string
                        example: Michael
                      last_name:
                        type: string
                        example: Doe
                      email:
                        type: string
                        example: john.doe@example.com
                      phone_country_code:
                        type: string
                        example: US
                      phone_number:
                        type: string
                        example: 555-555-1234
                      birth_date:
                        type: string
                        example: '1988-04-15'
                      has_signed_agreement:
                        type: boolean
                        example: false
                      agreement_link:
                        type: string
                        example: https://sandbox-harbor.owlpay.com/agreement_link
                      kyc_link:
                        type: string
                        example: https://sandbox-harbor.owlpay.com/kyc_link
                      description:
                        type: string
                        example: A freelance writer who loves exploring national parks.
                      created_at:
                        type: string
                        example: '2025-02-11T06:35:50+00:00'
                      updated_at:
                        type: string
                        example: '2025-02-11T06:35:50+00:00'
      tags:
        - Customer management
    parameters:
      - in: path
        name: customer_uuid
        description: The ID of the customer.
        example: cus_1234567890
        required: true
        schema:
          type: string
  /api/v1/customers/{customer_uuid}/owlting_KYC_apply_page:
    get:
      summary: Get the Owlting KYC Apply Page
      operationId: getTheOwltingKYCApplyPage
      description: ''
      parameters:
        - in: header
          name: X-API-KEY
          description: ''
          example: '{YOUR_API_KEY}'
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: >-
                  <html>


                  <head>
                      <title>WebSDK CDN Example</title>
                  </head>


                  <body>
                      <script src="https://static.sumsub.com/idensic/static/sns-websdk-builder.js"></script>
                      <div id="sumsub-websdk-container"></div>
                  </body>


                  </html>


                  <script>
                      function launchWebSdk(accessToken, applicantEmail, applicantPhone) {
                      let snsWebSdkInstance = snsWebSdk
                          .init(accessToken, () => this.getNewAccessToken())
                          .withConf({
                              lang: "en",
                              email: applicantEmail,
                              phone: applicantPhone,
                          })
                          .withOptions({ addViewportTag: false, adaptIframeHeight: true })
                          .on("idCheck.onStepCompleted", (payload) => {
                              console.log("onStepCompleted", payload);
                          })
                          .on("idCheck.onError", (error) => {
                              console.log("onError", error);
                          })
                          .onMessage((type, payload) => {
                              console.log("onMessage", type, payload);
                          })
                          .build();
                      snsWebSdkInstance.launch("#sumsub-websdk-container");
                  }


                  // Requests a new access token from the backend side.

                  function getNewAccessToken() {
                      return Promise.resolve($NEW_ACCESS_TOKEN);
                  }


                  launchWebSdk('_act-sbx-jwt-eyJhbGciOiJub25lIn0.eyJqdGkiOiJfYWN0LXNieC0yOTgxOTAyYS1iMTdmLTQ4ZTMtOTQzMC0yYTI5MjczYmJiYjctdjIiLCJ1cmwiOiJodHRwczovL2FwaS5zdW1zdWIuY29tIn0.-v2');

                  </script>
      tags:
        - Customer management
    parameters:
      - in: path
        name: customer_uuid
        description: The ID of the customer.
        example: cus_1234567890
        required: true
        schema:
          type: string
  /api/v1/transfers:
    get:
      summary: ''
      operationId: getApiV1Transfers
      description: ''
      parameters:
        - in: header
          name: X-API-KEY
          description: ''
          example: '{YOUR_API_KEY}'
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: ''
      tags:
        - Transfer
    post:
      summary: Create a transfer
      operationId: createATransfer
      description: ''
      parameters:
        - in: header
          name: X-API-KEY
          description: ''
          example: '{YOUR_API_KEY}'
          schema:
            type: string
      responses:
        '201':
          description: ''
          content:
            text/plain:
              schema:
                oneOf:
                  - description: On-ramp (Fiat to Stablecoin)
                    type: string
                    example: |-
                      {
                        "status": "pending_customer_transfer_start",
                        "source": {
                            "on_behalf_of": "{{YOUR_CUSTOMER_UUID}}",
                            "asset": "USD",
                            "amount": "100.00"
                        },
                        "destination": {
                            "asset": "USDC",
                            "chain": "ethereum",
                            "address": "0x4B20993Bc481177ec7E8f571ceCaE8A9e22C02db",
                            "amount": "98.00",
                            "beneficiary_name": "John Doe"
                        },
                        "application_transfer_uuid": "{{YOUR_APPLICATION_TRANSFER_UUID}}",
                        "transfer_instructions": {
                            "account_number": "123456789012",
                            "routing_number": "021000021",
                            "bank_name": "Test Bank USA",
                            "bank_address": "123 Test Street, New York, NY 10001, USA",
                            "account_holder_name": "John Doe",
                            "narrative": "123456789012"
                        },
                        "commission": {
                            "percentage": "0.01",
                            "amount": "1.00"
                        },
                        "receipt": {
                          "initial_amount": "100.00",
                          "commission_fee": "2.00",
                          "harbor_fee": "0.5",
                          "final_amount": "97.50",
                          "transaction_hash": null // This field will be filled if the transfer status is completed, otherwise it will be empty
                        },
                        "created_at": "2025-02-07T13:05:32+00:00",
                        "updated_at": "2025-02-07T13:05:32+00:00"
                      }
                  - description: Off-ramp (Stablecoin to Fiat)
                    type: string
                    example: |-
                      {
                        "status": "pending_customer_transfer_start",
                        "source": {
                            "on_behalf_of": "{{YOUR_CUSTOMER_UUID}}",
                            "chain": "ethereum",
                            "asset": "USDC",
                            "amount": "1000.00"
                        },
                        "destination": {
                            "asset": "USD",
                            "account_number": "123456789012",
                            "routing_number": "021000021",
                            "bank_name": "Test Bank USA",
                            "bank_address": "123 Test Street, New York, NY 10001, USA",
                            "account_holder_name": "John Doe",
                            "amount": "980.00",
                            "residential_country_code": "US",
                            "residential_state": "DE",
                            "residential_city": "Wilmington",
                            "residential_address_1": "100 Market Street",
                            "residential_address_2": "Suite 200"
                        },
                        "application_transfer_uuid": "{{YOUR_APPLICATION_TRANSFER_UUID}}",
                        "transfer_instructions": {
                            "chain": "ethereum",
                            "address": "0x6990E7E90ab50C12111f99b84183D3fE298Bb3e4"
                        },
                        "commission": {
                            "percentage": "0.01",
                            "amount": "1.00"
                        },
                        "receipt": {
                          "initial_amount": "1000.00",
                          "commission_fee": "20.00",
                          "harbor_fee": "5.00",
                          "final_amount": "975.00",
                          "tracking_number": null // This field will be filled if the transfer status is `bank_in_process`
                        },
                        "created_at": "2025-02-07T13:05:32+00:00",
                        "updated_at": "2025-02-07T13:05:32+00:00"
                      }
      tags:
        - Transfer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                destination:
                  type: object
                  description: ''
                  example: []
                  nullable: false
                  properties:
                    customer_crypto_address_id:
                      type: string
                      description: >-
                        (on-ramp) The customer crypto address ID (if you want to
                        use a specific customer crypto address, you can provide
                        the id here (If you input both, destination.address will
                        be ignored)). This field is required when
                        <code>destination.address</code> is not present.
                      example: '{{YOUR_CUSTOMER_CRYPTO_ADDRESS_ID}}'
                      nullable: false
                    address:
                      type: string
                      description: >-
                        (on-ramp) The address of the destination. This field is
                        required when
                        <code>destination.customer_crypto_address_id</code> is
                        not present.
                      example: '0x4B20993Bc481177ec7E8f571ceCaE8A9e22C02db'
                      nullable: false
                    address_memo:
                      type: string
                      description: >-
                        (on-ramp)(optional) Some blockchain supports memo for
                        the address.
                      example: '1234567890'
                      nullable: true
                    chain:
                      type: string
                      description: >-
                        (on-ramp) The chain of the destination. This field is
                        required when <code>destination.address</code> is
                        <code>!null</code>.
                      example: ethereum
                      nullable: false
                      enum:
                        - ethereum
                        - arbitrum
                        - polygon
                        - avalanche
                        - optimism
                        - stellar
                    beneficiary_name:
                      type: string
                      description: >-
                        (on-ramp) The beneficiary name of the destination. This
                        field is required when <code>destination.address</code>
                        is <code>!null</code>.
                      example: John
                      nullable: false
                    asset:
                      type: string
                      description: The asset of the destination.
                      example: USDC
                      nullable: false
                  required:
                    - asset
                source:
                  type: object
                  description: ''
                  example: []
                  nullable: false
                  properties:
                    on_behalf_of:
                      type: string
                      description: >-
                        When you transfer to a third party (not the customer
                        himself) on behalf of your customer, this field is
                        required. This field is required when
                        <code>destination.address</code> is <code>!null</code>.
                      example: '{{YOUR_CUSTOMER_UUID}}'
                      nullable: false
                    asset:
                      type: string
                      description: The asset of the source.
                      example: USD
                      nullable: false
                    amount:
                      type: number
                      description: The amount of the source. Must be at least 0.
                      example: 100
                      nullable: false
                  required:
                    - asset
                    - amount
                commission:
                  type: object
                  description: ''
                  example: []
                  nullable: false
                  properties:
                    percentage:
                      type: number
                      description: >-
                        The percentage of the commission. Must be between 0.01
                        and 100.00.
                      example: 0.01
                      nullable: true
                    amount:
                      type: number
                      description: The amount of the commission. Must be at least 0.
                      example: 1
                      nullable: true
                application_transfer_uuid:
                  type: string
                  description: The application transfer UUID.
                  example: '{{YOUR_APPLICATION_TRANSFER_UUID}}'
                  nullable: false
              required:
                - application_transfer_uuid
tags:
  - name: Customer's bank accounts
    description: APIs for managing customer's bank accounts.
  - name: Customer's crypto addresses
    description: APIs for managing customer's crypto addresses.
  - name: Customer management
    description: APIs for managing customers.
  - name: Transfer
    description: APIs for managing transfers.
components:
  securitySchemes:
    default:
      type: apiKey
      name: X-API-KEY
      in: header
      description: >-
        Please contact your customer service team to obtain your <b> API Key
        </b>.
security:
  - default: []
